[2019-01-24 15:08] vladimirvivien opened #4 "Add description for this repository"
This repository needs a descriptive text in the description box.

[2019-01-24 15:08] vladimirvivien commented on #4
/assign @saad-ali

[2019-02-18 05:49] darcyllingyan opened #11 "Create the csi-hostpath-provisioner.yaml failed"
Hi,
When running the deploy/deploy-hostpath.sh, the command:
[code]
I have created the privileged psp, why it wlways reportes the pod security issue?
What should I change to make it successful?

Thanks for any comments!

[2019-02-18 09:41] pohly commented on #11
Your original description is much closer to the root of the problem. The failure to create pods looks like missing RBAC rules to me.

Originally you wrote:

kubectl apply -f https://raw.githubusercontent.com/kubernetes-csi/external-provisioner/${PROVISIONER_RELEASE}/deploy/kubernetes/rbac.yaml

What exactly is the URL that it tries to deploy?

When I run it with command printing, I get:
[code]

[2019-02-18 14:26] darcyllingyan commented on #11
@pohly ,
Thanks very much for your response!
But I have created the rbac rule, I just copy all the rbac.yaml to local. The deploy-hostpath command printing is below:
[code]

With the kubectl, the create rules are:
[code]

But when I create the csi-hostpath-provisioner.yaml, the pod security policy error still exists:
[code]

Not sure what the root cause is?

Thanks

[2019-02-18 15:37] pohly commented on #11
Your output is with a modified deploy file, right? Can you re-run the unmodified one? I want to understand why it failed for you.

Regarding `unable to validate against any pod security policy: [spec.volumes[0].hostPath.pathPrefix: Invalid value: "/var/lib/kubelet/plugins/csi-hostpath": is not allowed to be used`: have you activated some kind of security policy that controls access to paths on the

[2019-02-19 09:07] darcyllingyan commented on #11
Hi @pohly,
Thanks for the response!
I didn't modify the deploy file, as my original issue: ``` I can't access to the url https://raw.githubusercontent.com..., so the kubectl apply command always reports error.```.
So I download the rbac.yaml and renamed it as provision-rbac0.yaml and attacher-rbac0.yaml as my command output shows. The content isn't modified.
The provision-rbac0.yaml is:
[https://g

[2019-02-19 09:13] pohly commented on #11
@darcyllingyan something must have been modified, otherwise `deploy-hostpath.sh` wouldn't do `kubectl apply -f /root/csi-driver-host-path/deploy/provision-rbac0.yaml`. What I want to see is why `deploy-hostpath.sh` fails when everything is unmodified.

[2019-02-19 09:37] darcyllingyan commented on #11
@pohly ,
Sorry for the misunderstanding, yes, the deploy file is changed as below:
[code]

Besides, based on the guide in https://kubernetes-csi.github.io/docs/example.html, below I show my step by step procedure to create the driver:
[code]
Last, I create the Daemonset:
[code]

But after I describe the daemonset:
[code]

Thanks

[2019-02-19 11:49] pohly commented on #11
Can you undo that change and run `bash -x ./deploy/deploy-hostpath.sh`? I want to see in detail how that fails. This is the first problem.

This is the second problem. It looks like your cluster is configured so that it denies running the CSI pods. I don't know how your cluster was setup, but googling leads to (for example): https://access.redhat.com/solutions/3320361

You need to look for similar

[2019-02-19 15:55] darcyllingyan commented on #11
Hi @pohly,
 For question 1:
If I don't modify the deploy file, the result is below:
[code]

For qeustion2, thanks for supporting the link, I'm studying on it.

Now, I feel a little confused about the CSI install, I have several basic questions want to confirm with you.
1. As we know, in order to use the csi, need to install the csi driver and csi sidecar containers:
      1) Use the hostPath volum

[2019-02-19 19:24] pohly commented on #11
Can you fix this by setting proxy env variables? I'm afraid the assumption in the example is that network connectivity to GitHub is present. If that assumption is wrong, we may have to go back to mirroring the file inside the repo itself to support offline installation.

Regarding your other questions: no, `deploy-hostpath.sh` installs both the sidecars and the hostpath CSI driver. You don't need

[2019-02-20 15:32] darcyllingyan commented on #11
Hi @pohly,
Thanks very much for the response!
I set the proxy as export https_proxy="<IP>:<Port>", with the proxy setting, I can wget the [](* https://raw.githubusercontent.com/kubernetes-csi/external-provisioner/v1.0.1/deploy/kubernetes/rbac.yaml) successfully but I can't kubectl apply -f [](* https://raw.githubusercontent.com/kubernetes-csi/external-provisioner/v1.0.1/deploy/kubernetes/rbac.yaml

[2019-02-20 16:26] pohly commented on #11
I can't help with the certificate error. This seems specific to your cluster setup, so you better contact your vendor.

Regarding kubelet not honoring `https_proxy`: that works for me, using kubectl 1.13. I get the same timeout error without proxy env variables and it works when they are set.

[2019-02-22 02:07] darcyllingyan commented on #11
@pohly ，
Thanks for the response, I will check the https_proxy later.
However, I have another question about the CSI, in the csi-hostpath-plugin, the main parts includes:
deploy/hostpath/csi-hostpath-attacher.yaml
deploy/hostpath/csi-hostpath-provisioner.yaml
deploy/hostpath/csi-hostpath-plugin.yaml,

If I want to modify some code to adjust my request, for example the attacher, the source code of

[2019-02-22 09:04] okartau opened #12 "Deployment by README steps fails in 4-node cluster"
Deployment as shown in README will succeed for sure only if attacher, provisioner, hostpathplugin and my-csi-app run in the same node. When I try the steps in 4-node cluster, the pods state will be:
[code]

my-csi-app does not reach Running state as it can't mount:
[code]

[2019-02-22 09:10] okartau commented on #12
@pohly proposed these changes to get example deployment working:
- start one instance of csi-hostpathplugin
- use inter-pod affinity to land attacher, provisioner, hostpathplugin and my-csi-app on same node

If we agree on this, I will prepare a PR

[2019-02-22 14:53] blaggacao commented on #12
I observe the same error:
[code]

On `10.0.1.78`, however, see:
[code]

Therefore, only the `.../mount` folder is missing. It's seems [this comes from the request](https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/pkg/hostpath/nodeserver.go#L54)
however this path is at least no created by [this csi-driver](https://github.com/kubernetes-csi/csi-driver-host-path/blob/c44a77d8a4342e6

[2019-02-22 15:12] blaggacao commented on #12
In other words: How would a proper multi node example look like?

[2019-02-22 15:37] pohly commented on #11
Is this about the hostpath example or some other CSI driver? For the hostpath example, it currently can fail when a cluster has more than one node. The failure is that the volume gets provisioned on one node and the app using it gets scheduled to another node. A colleague of mine will address this by setting pod affinity. Topology support would be a better solution, but depends on alpha features i

[2019-02-22 16:11] pohly commented on #12
Hostpath by design can only work on a single node because it allocates volumes locally an a node. The solution I mentioned to @okartau ensures that a single hostpath driver runs and that everything else (provisioner, attacher, *and* the app) run on that same node.

This is not a good example because it forces a special deployment of the app. The advantage is that it works without depending on alph

[2019-02-22 16:29] blaggacao commented on #12
@pohly Thanks for you comment.

I understand that the volume is bound to a host, and can only reasonably be consumed by apps deployed as a `StatefulSet`. However, I do not yet understand, why the provisioner and attacher  cannot run successfully on multiple hosts, for example to cater a default `StorageClass` with `provider: csi-hostpath`.

Is that a limitation of the CSI spec? - I guess I'm still

[2019-02-22 16:57] pohly commented on #12
Provisioner and attacher can only talk to a CSI driver that runs on the same host. That's because communication happens via a local Unix domain socket.

The usual model for other drivers that talk to some external storage backend is to run the CSI driver on all nodes and the attacher and provisioner on a few nodes (replicated, with leader election to determine which instance actually responds to r

[2019-02-22 17:13] blaggacao opened #15 "Implement host path `kustomize`ation"
Based on discussion from: https://github.com/kubernetes-csi/csi-driver-host-path/pull/13#issuecomment-466457349

[2019-02-22 17:41] blaggacao commented on #12
Thank you that clarifies a lot. In theory, host-path plugin, based on the request metadata could determine which node should ultimately provision / attach.

That's unless, conceptually, it would be responsibility of a custom provisioner / attacher, which is precisely what their substantivated names would indicate.

Assuming I understood things, the way they are, is supporting the mentioned* a use

[2019-02-22 18:51] pohly commented on #12
David Arnold <notifications@github.com> writes:

Conceptually, provisioning a volume is independent of its usage on any
particular node. The CSI spec is a bit biased towards volumes that are
provided by a storage backend which then can be access from any node.

The only situation where meta data has any information about the
intended node is when:
- WaitForFirstConsumer is used
- topology support

[2019-02-27 05:35] cwdsuzhou commented on #12
I think, this is mainly  caused by `controllerserver` which connets to `external-provisoner` by local socket and only support create volume locally in `csi-driver-host-path`. However, nodeserver runs as a `daemonset` which may not run on the same node as `external-provisoner`.

[2019-02-27 11:10] pohly commented on #12
@cwdsuzhou `daemonset` ensures that there is a hostpath driver instance on all nodes, so `external-provisioner` always has a local driver to talk to. The problem is that the app then also needs to run on that same node, which currently isn't enforced.

@okartau has a fix in https://github.com/kubernetes-csi/csi-driver-host-path/pull/14

[2019-02-27 11:59] cwdsuzhou commented on #12
Thank you! I know making sure the apps  run the same node can fix it. What I want to describe is that the `nodeserver` is actually working for the apps should run on the same node with the `external-provsioner`.

[2019-02-27 13:25] pohly commented on #12
@cwdsuzhou what do you mean with "nodeserver is actually working for the apps"?

[2019-02-27 14:13] cwdsuzhou commented on #12
It means the apps should run the same node with the external-provisoner and attacher

[2019-03-01 16:01] pohly opened #21 "master not a complete copy of the original code"
When moving the hostpath driver, some changes were lost. It looks like an older version of the original code was copied, in particular this change here is missing: 6820279e588166dfa0e0013f6669b1a090fa1a96

git diff 6820279e588166dfa0e0013f6669b1a090fa1a96..660c3571d2389573b411e0898e02c85f7bcab28a pkg/hostpath/controllerserver.go
[code]

The commit is there because the full history was spliced in,

[2019-03-01 16:11] pohly commented on #21
Comparing between old and imported code with git diff c1e71bd..660c3571d2389573b411e0898e02c85f7bcab28a shows that this is the only lost code. The rest of the diff is what one would expect (old code removed, import paths changed, etc.).

[2019-03-01 20:57] #12 closed

[2019-03-05 04:37] bswartz opened #23 "Driver leaks files on creation failures"
When creating a raw block volume and the losetup call fails, the created file is not cleaned up, and it consumes space in /tmp forever.

[2019-03-06 19:26] #23 closed

[2019-03-24 03:19] darcyllingyan commented on #11
Hi @pohly ,
Thanks very much for the response!

Yes, I'm using the cinder-csi-driver.
```it currently can fail when a cluster has more than one node```: You mean the sidecar containers couldn't Normally the sidecar containers couldn't be started in more than one node, right?
Whether there is preference which node the sidecar containers(external-provision, external-attacher) should be started? the

[2019-03-25 09:01] pohly commented on #11
Sorry, but this isn't the support forum for the cinder-csi-driver. Can you take your questions regarding that driver elsewhere?

Regarding csi-driver-host-path: that driver is special and only works on a single node. That restriction does not apply to other drivers. Their developers decide how to best install them in a cluster.

[2019-03-25 09:01] pohly commented on #11
Is there anything in this issue which needs to be fixed in this repo? If not, can we close it?

[2019-03-26 02:58] darcyllingyan commented on #11
Hi @pohly ,
Thanks very much for the response. I have no other question. Will close the issue. Thanks.

[2019-03-26 02:58] #11 closed

[2019-03-29 18:04] wongma7 opened #32 "Attacher and provisioner may need privileged too"
It seems that on SELinux enabled systems, the provisioner & attacher pod can't access the socket created by the privileged plugin pod. Previously: https://github.com/kubernetes/kubernetes/pull/69215 . I am not sure the exact reason, hopefully @bertinatto can explain :))

[2019-03-29 18:29] wongma7 commented on #32
I think it is because /var/lib/kubelet/plugins/csi-hostpath needs to be relabelled to allow random containers to read it. The hostpath plugin will not relabel it for us https://github.com/kubernetes/kubernetes/blob/7f0e04a089125901dce18c7d96507f2b60560e18/pkg/volume/host_path/host_path.go#L213

[2019-04-01 08:22] bertinatto commented on #32
@wongma7, that's correct! On SELinux-enabled systems, `--privileged` containers will add certain labels to files that are created from them. If I'm not mistaken, those labels vary from namespace to namespace. Having said that, when a non-privileged container tries to access the socket file created by the privileged one, it'll get a permission error due to mismatched labels.

Recently, I found out

[2019-04-01 08:37] pohly commented on #32
What does `s0:c0,c1` mean? Are these the right values for all SELinux-enabled systems or just for the one you tried this on?

[2019-04-01 13:07] bertinatto commented on #32
`s0:c0,c1` was just a random value that I tried.

The file `/etc/selinux/targeted/setrans.conf` contains a translation for these values. Note that it may vary from system to system as these values can be configured by the admin through the `semanage` tool.

[2019-04-01 13:21] pohly commented on #32
That's what I feared. This is a problem for the example deployment and for E2E testing, because we cannot simply put the sections above in our .yaml files.

Is there a certain set of commands that can be used to look up these values? Or is this simply something that a cluster admin needs to know and provide as parameter to the deployment script?

[2019-04-01 16:32] wongma7 commented on #32
I think it is up to the cluster admin to know and assign the meaning of categories (c0,c1) on their machines, then provide them. They would reserve categories for their csi driver deployment and then enforce that other pods use other categories via PodSecurityPolicies

That is selinux levels/mls/multi-level security, but what about selinux types. On my system /var/lib/kubelet/plugins is system_u:o

[2019-04-02 09:08] bertinatto commented on #32
I missed the fact that the driver creates the socket under _/var/lib/kubelet_. By default, new files inherit the type of their parent directories (even if the file was created by a `--privileged` container), so my solution above wouldn't work for this case.

That's a possible solution, but it can be that can be cumbersome, specially in worker nodes.

[2019-04-02 10:15] bertinatto commented on #32
To summarize:

Regarding the provisioner and attacher, I believe they don't need to be privileged because the driver shipped in the same pod (that should implement the Controller Service set of RPC calls) doesn't need to be privileged. (In https://github.com/kubernetes/kubernetes/pull/69215 I also made the provisioner and attacher privileged because the driver (privileged) object was used with all

[2019-04-02 10:16] bertinatto commented on #32
So my question is: do we really want to allow a non-privileged container to access the socket file created by the driver (Node Service)?

If we do so, we might have a potential security problem because:

1. I could start a non-privileged container that access the socket file exposed by the (privileged) driver
2. Connect to the RPC server
3. And format a volume in the host

Whatever solution we fin

[2019-04-02 12:18] jsafrane commented on #32
I triple-checked on a SELinux machine.

1. Attacher and provisioner need to be priviliged to access driver's socket. We can either:
    * Run attacher and provisioner as privileged. HostPath is the only driver that needs it and it's experimental anyway.
    * Run attacher and provisioner with the same SELinux context as privileged containers. The containers themselves are still not privileged - th

[2019-04-02 13:15] bertinatto commented on #32
For the record, I just tested with:

* Centos 7 host (SELinux enabled)
* EBS CSI driver
    * privileged driver container
    * non-privileged node registrar container

The registrar was able to connect to the driver without problems. The non-privileged registrar used to be a problem, but I suppose the SELinux context of containers in the same pod was fixed at some point recently.

[2019-04-02 13:44] pohly commented on #32
Why does only the hostpath driver need this? Because only this deployment runs the driver in a separate pod? There are other deployments which might do the same, for whatever reasons.

[2019-04-02 14:35] jsafrane commented on #32
Attacher + provisioner need to access a socket in /var/lib/kubelet/plugins/* on the host instead of EmptyDir. Any CSI driver that's going to use HostPath instead of EmptyDir will face the same issue.

Basically, SELinux does not like any HostPath volumes: we don't want processes that escaped their container messing up the host, even if they run as root. So either admin (or a package) labels specia

[2019-04-02 14:52] pohly commented on #32
So "HostPath is the only driver" isn't about the csi-driver-host-path? You meant the builtin hostpath storage driver?

[2019-04-03 07:59] jsafrane commented on #32
It's so confusing. It affects only csi-driver-host-path, because that's the only one that uses in-tree HostPath volume in attacher/provisioner to get to driver socket created by a privileged container in another pod.

[2019-04-03 08:48] pohly commented on #32
In other words, this: https://github.com/kubernetes-csi/csi-driver-host-path/blob/486074dc3beef59955faf7bb5210418d9844e0a7/deploy/kubernetes-1.13/hostpath/csi-hostpath-provisioner.yaml#L51-L55

I can see how that is a bit special. Other CSI driver deployments probably have attacher/provisioner/driver all bundled up in a single pod.

[2019-04-11 22:22] msau42 opened #38 "Add domain to driver name"
Maybe hostpath.kubernetes-csi.io?

[2019-04-11 22:28] msau42 commented on #38
Or maybe hostpath.csi.k8s.io

[2019-04-15 12:26] madhurnawandar opened #41 "Raw block volume snapshot failure"
Raw block volume snapshot fails with error like:
[code]
There are 2 reasons to this:
1 : Following constants are defined incorrect:
[code]
Thjey should be
[code]
2: In case of raw block volumes the volume content comes as a single file as against a directory in case of a filesystem volume. So the tar command with -C option won't work. Instead, a tar file should be created directly from the file co

[2019-04-19 21:23] #41 closed

[2019-04-29 14:49] pohly commented on #4
/remove-lifecycle stale

This probably needs to be done by the infrastructure team now? Not sure what the process is, though.

[2019-04-29 16:10] msau42 opened #46 "Add leader election to deployment"
So that we can catch issues like
https://github.com/kubernetes-csi/external-attacher/pull/144

[2019-04-29 16:10] msau42 commented on #46
/help

[2019-04-29 17:20] pohly commented on #46
Do we need testing with *and* without leadership election? Probably yes, because those go through different code paths.

Testing with leadership election isn't going to be very realistic in the Prow CI because it creates a cluster with just one node. We'll execute some additional code paths, but not the actual leadership election. My preference would be to switch to a multi-node KinD cluster for a

[2019-04-29 20:02] pohly commented on #46
Maintaining all these different deployments is going to become more complicated. Would it be useful to start generating them with kustomize?

I've done that in PMEM-CSI such that kustomize is only needed when editing the input files. Users and the CI still get complete deployment files. See https://github.com/intel/pmem-CSI/pull/234/commits/6037be55d8b67c620007a7272c56a62e47438c07 for details. It

[2019-04-29 22:46] msau42 commented on #46
Long term I think a multi-node cluster would be great.

Regarding managing deployment, I'm fine with kustomize. I'm also biased because I use it for PD driver too, and it's been working decently well for testing various configs like alpha, stable, staging, dev

[2019-04-30 07:21] pohly commented on #46
@msau42 what about testing with and without leadership election? Do you think we need to test both?

[2019-04-30 14:22] pohly commented on #38
I prefer `hostpath.csi.k8s.io`.

[2019-04-30 14:24] pohly commented on #21
This got resolved when replacing the out-dated code with a new implementation (https://github.com/kubernetes-csi/csi-driver-host-path/pull/6).

[2019-04-30 14:24] #21 closed

[2019-04-30 14:26] pohly opened #47 "define resource limits to avoid eviction"
Pods without resource specification are the first that get evicted when a node runs out of resources. All of our deployments should specify required resources.

Perhaps there's also something else that can be done to prevent removal of a CSI driver instance from a node?

[2019-05-03 22:13] htbase opened #49 "Hostpath across multiple nodes"
Hi folks

I am trying to use the hostpath csi across multiple nodes but am running into an issue

This is the error I see when I create my app:

`
Events:
  Type     Reason                  Age                From                     Message
  ----     ------                  ----               ----                     -------
  Normal   Scheduled               14m                default-scheduler

[2019-05-03 23:08] htbase commented on #49
Btw, just to add info, the /storage/ folder directory is a shared directory that all nodes, both master and workers, can see this folder, so volumes created on top of that directory, is visible and accessible to all nodes

[2019-05-06 07:29] pohly commented on #49
Why do you want to do that?

It is just an example driver that is used for testing. It is not designed to support running on multiple nodes. To make it reliable, topology support would have to be added.

[2019-05-06 15:59] htbase commented on #49
We want to test it across nodes to test the storage layer underneath it, which is the presented globally across all nodes

Is there a way we can use it that way?

[2019-05-06 17:49] pohly commented on #49
Can't you use the builtin hostpath driver?

There are persistent local volumes (https://kubernetes.io/blog/2018/04/13/local-persistent-volumes-beta/) which you could configure to access your storage. Alternatively, an ephemeral hostpath volume (https://kubernetes.io/docs/concepts/storage/volumes/#hostpath) could also expose that path inside a pod for testing.

[2019-05-06 18:28] htbase commented on #49
We could, but dont want to have the users having to include both the path and node names, but rather, have the CSI do it @pohly

[2019-05-07 06:27] pohly commented on #49
I guess I still don't understand the goal. If it's just for testing (https://github.com/kubernetes-csi/csi-driver-host-path/issues/49#issuecomment-489674387), why are users involved (https://github.com/kubernetes-csi/csi-driver-host-path/issues/49#issuecomment-489725021)?

[2019-05-07 18:40] htbase commented on #49
Because we want to test all nodes creating and attaching the volumes on top of that global filesystem before we dedicate the time to create a full csi

Is it possible with this hostpath driver @pohly ? Again to test and enable users to see how it would work with that filesystem

[2019-05-07 19:30] pohly commented on #49
No, I don't think this can be done with the hostpath driver. The driver assumes that the volume gets provisioned on the node where the volume is then also going to be used. It sounds like you want to provision once and then use on different nodes.

[2019-05-07 19:40] htbase commented on #49
I was thinking of DaemonSets, can we use it in this case?

The volume and container can be provisioned in the same nodes still, what I want is for the driver to use all available nodes to provision the volume and container instead of only one

I created a daemonset and was able to replicate the hostpath driver on all nodes, but for some reason, it fails when creating the volume and container on di

[2019-05-07 19:56] pohly commented on #49
Bruno Andrade <notifications@github.com> writes:

There can be only one provisioner. It will then talk to one hostpath
driver and provision there, and only there.

[2019-05-07 19:58] #49 closed

[2019-05-17 13:20] xing-yang opened #50 "Need to set VolumeContentSource if creating volume from snapshot"
In CreateVolume, we should set VolumeContentSource after creating volume from snapshot is successful.

	return &csi.CreateVolumeResponse{
		Volume: &csi.Volume{
			VolumeId:      volumeID,
			CapacityBytes: req.GetCapacityRange().GetRequiredBytes(),
			VolumeContext: req.GetParameters(),
		},

[2019-05-23 21:11] gnufied opened #52 "Allow configurable root directory on the host"
Currently the volume root directory is defined as:

[code]

But IIRC, it used to be `tmp` before. I think we need this path to be stable in e2e, so as we don't have to update the YAMLs if the code changes. The best way of doing this perhaps to make the root directory configurable, so as e2es can keep using paths they were using and other users can define new path.

[2019-05-24 10:29] pohly commented on #15
Also discussed in https://github.com/kubernetes-csi/csi-driver-host-path/issues/46#issuecomment-487722540

/remove-lifecycle stale

[2019-05-25 12:04] ervikrant06 opened #53 "Example not working on minikube 1.14"
I came to this repo while reading https://kubernetes.io/blog/2019/03/07/raw-block-volume-support-to-beta/ I can't understand the purpose of mixing hostpath and raw block volumes. can you please help me to understand it?

- Ran the script for 1.14
[code]

- Following error reported in the POD Logs.

[code]

[2019-05-27 06:48] pohly commented on #53
ervikrant06 <notifications@github.com> writes:

You don't need the hostpath driver for raw block volumes. It's just an
example driver which supports them.

This looks like a temporary network error. The other images are also on
quay.io and were pulled just fine.

[2019-05-28 10:43] pohly opened #54 "topology support"
The hostpath driver should support topology on Kubernetes 1.14. Then applications no longer need to be scheduled manually onto the right node and we can remove that workaround from the E2E testing in Kubernetes.

It also might make the driver complete enough to serve as default storage driver in a KinD cluster.

[2019-05-30 10:18] #50 closed

[2019-05-31 16:55] hoyho commented on #38
+1 `hostpath.csi.k8s.io`

[2019-06-04 09:40] azazel75 opened #55 "Not working after reboot on NixOS"
Hello, I tried the deployment on  a NixOS VM (unstable) which packages Kubernetes 1.14.1. I had to change  some paths because the kubelet is run with `--root-dir=/var/lib/kubernetes`, so I changed:
[code]

I've used the script in `/deploy` to install it. Now the effect is that all works well until the VM is restarted and the pods using the persistent volumes show all issues with persistent volume

[2019-06-11 10:30] zhucan commented on #46
Why need to add leader election to deployment for csi-driver-host-path? Maybe creating two pod in the same time but in different node

[2019-06-11 23:15] j-griffith opened #57 "Clone support"
With the addition of clone support in kubernetes and in progress for the external-provisioner side car we should support clone operations in the hostpath driver.

[2019-06-14 07:46] #57 closed

[2019-06-21 19:59] msau42 opened #61 "Cleanup readme"
The README should contain some basic information like:
* compatibility with K8s releases and CSI spec versions
* features implemented in the driver
* how to deploy the driver

More advanced information like development, testing, how to use with snapshots and inline volumes can go in a separate docs/ folder.

/help

[2019-06-25 11:32] awels commented on #54
@pohly Hi, are you aware if any attempts to implement this have been made already? If not, I would be potentially interested in taking a stab at this.

[2019-06-25 21:38] pohly commented on #54
Alexander Wels <notifications@github.com> writes:

No, I don't think so. Please, give it a try.

[2019-06-26 13:56] beef9999 opened #62 "Some tips for new users to understand this project."
1. Do not use `alpine` base image, use `ubuntu`. Otherwise your own built go bin file would possibly not been executed due to an incomplete environment.

2. There are two ways to use the host resources: Mount and Block. The essence of the first one is to do `mount -o bind`, which connects two different dirs on host. The second one requires container to have super privileges, so it can operate loop

[2019-06-28 21:33] valer-cara commented on #55
Had the same issue - from what I gather, the hostpathVolumes association is lost since it's stored in memory only.

I've done a ultra-dirty proof of concept to try and rebuild that mapping when the provisioner starts:

[code]

[2019-07-10 15:54] #38 closed

[2019-07-12 15:41] ivorywang opened #71 "hostpath.csi.k8s.io not found in the list of registered CSI drivers"
While running through the example with microK8s kubernetes I keep running into this error when trying to actually start the my-csi-app pod

Warning  FailedMount             5s (x6 over 22s)  kubelet, rkimmel-dt      MountVolume.MountDevice failed for volume "pvc-4d70c760-a4b0-11e9-8376-1866da0e836f" : driver name hostpath.csi.k8s.io not found in the list of registered CSI drivers

Looks like for s

[2019-07-12 16:13] pohly commented on #71
Use the example from https://github.com/kubernetes-csi/csi-driver-host-path/releases/tag/v1.1.0.

We are in a transition from the old driver name without domain part to "hostpath.csi.k8s.io" and your deployment still seems to use the old name.

[2019-07-12 16:49] msau42 opened #72 "map access needs lock"
All `hostPathVolumes` and `hostPathSnapshots` map updates/reads need a lock.

/help
/good-first-issue

[2019-07-12 20:09] ivorywang commented on #71
Thanks for your earlier reply I appreciate you taking the time to respond so quickly! After a few different attempts at using the 1.1.0 release I am still having roughly the same issue unfortunately. Overall it looks like for some reason the driver registration is not happening at all even with this release. Is there somewhere I can look for for why this might be happening?

### Output of get pods

[2019-07-15 07:17] pohly commented on #71
So kubelet didn't the driver neither under the old nor the new name, i.e. not at all.

What kind of cluster did you run this on? If kubelet finds a CSI driver, it adds a label for it, so "kubectl describe node/<node on which the driver runs>" is a good first check. You probably don't have anything related to csi hostpath there, so next check the kubelet log. Perhaps that shows something.

The log

[2019-07-15 15:48] ivorywang commented on #71
Interestingly enough looks like the driver registration is attempted just fine but maybe it never gets a response and that's why i'm not seeing a finish message in this driver-registrar log? I'm using microk8s on fedora 27 you can see my kubectl version output below the logs from the driver-registrar

`rkimmel@rkimmel-dt csi-driver-host-path-1.1.0  $ microk8s.kubectl logs csi-hostpathplugin-0 node

[2019-07-15 18:23] pohly commented on #71
Looks like kubelet never finds `/registration/csi-hostpath-reg.sock`. Check your deployment: does it use `/var/lib/kubelet/plugins_registry` as registration directory
as in https://github.com/kubernetes-csi/csi-driver-host-path/blob/46a3521d63e315b2ff6beb00fcfca7bba60bfc05/deploy/kubernetes-1.13/hostpath/csi-hostpath-plugin.yaml#L125-L128?

Does you kubelet use that same path?

[2019-07-15 18:32] ivorywang commented on #71
I think you may have hit the nail on the head here my path uses this directory /var/snap/microk8s/common/var/lib/kubelet/ so I'm going to try changing all the yaml in the hostpath dir to use the right path and I'll get back to you! Thanks again for your help looking at this!

[2019-07-25 12:06] pohly commented on #71
We should document this better, therefore I am keeping this issue open.

@ivorywang: perhaps you can do a PR for this?

[2019-07-25 12:06] pohly commented on #71
/help
/good-first-issue

[2019-07-25 12:10] pohly opened #79 "deploy CSIDriver object"
For 1.15 a CSIDriver object is optional, but it would be good practice to add it. It must not have the "mode" field.

For the upcoming 1.16, we definitely should deploy one and set "mode: persistent+ephemeral", because then we can test ephemeral mode with that deployment in the Prow CI.

[2019-07-31 07:27] pohly opened #80 "implement optional ControllerPublishVolume"
The csi-driver-host-path deployment with external-attacher is used to test that external-attacher works. However, because currently csi-driver-host-path doesn't actually implement `ControllerPublishVolume`, external-attacher uses a simplified code path (https://github.com/kubernetes-csi/csi-driver-host-path/pull/78#issuecomment-515359785).

To test the actual code path for drivers that support att

[2019-07-31 07:28] pohly commented on #80
/help

[2019-07-31 20:58] vladimirvivien commented on #4
/assign @saad-ali
/assign @msau42
Before I close this issue, I wanted to point out the hostpath repo does not have a description. Not sure who would do this.

cc @pohly

[2019-07-31 21:05] msau42 commented on #4
I think I can do it.  Can you suggest a description?

[2019-07-31 21:59] j-griffith opened #81 "Using `*` in cp commands is a bad idea"
Passing `cp -a /csi-data-dir/xxxx/*` on some shells will actually attempt to try and find a file named `*` to copy.  We should instead be using the cp specific syntax and using `/.` instead.

[2019-08-01 00:20] vladimirvivien commented on #4
`A sample CSI Driver implementation with hostpath functionalities` 😬

What do you think
@msau42 @pohly

[2019-08-01 00:22] msau42 commented on #4
[code]
???

[2019-08-01 03:14] #81 closed

[2019-08-01 20:10] vladimirvivien commented on #4
@msau42 yours reads much better!

[2019-08-02 01:22] msau42 commented on #4
done
/close

[2019-08-02 01:22] #4 closed

[2019-08-02 02:18] msau42 commented on #32
Can we put all the sidecars in the same pod as the driver?  Bundling them all together is our recommended way, and the fact that our sample driver is not doing that is confusing to driver devs.

[2019-08-02 08:38] humblec opened #83 "Unable to provision `VolumeMode: Block` PVC"
While creating a `block` PVC with hostpath driver it stays at `pending` state for ever. The plugin log shows below:

[code]

hostpath driver was deployed via `deploy-hostpath.sh` from `deploy/kubernetes-1.14` directory.

Env Details:

[code]

[2019-08-02 08:40] humblec commented on #83
/assign @darkowlzz
/assign @pohly

[2019-08-02 11:11] humblec commented on #83
@bswartz

[2019-08-15 15:04] gnufied opened #86 "Add support for volume resizing."
In preparation for volume resizing going beta, we should add support for it in hostpath driver and make sure the tests run with it.

[2019-08-15 22:34] mucahitkurt commented on #54
I'm working on this issue.

[2019-08-22 09:42] bertinatto commented on #86
/assign

[2019-08-28 17:28] pohly commented on #47
/remove-lifecycle rotten

[2019-09-01 02:39] #32 closed

[2019-09-06 20:02] BenTheElder commented on #54
/subscribe
thanks for this! very eager to take a look a shipping this with kind :-) https://github.com/kubernetes-sigs/kind/issues/118

[2019-09-06 20:39] #54 closed

[2019-09-07 02:20] msau42 opened #94 "Output container logs when deployment fails"
Sometimes when testing new features, it causes hostpath driver containers to crash. It would be useful to output the container logs to make debugging easier.

/help

[2019-09-07 16:41] msau42 opened #96 "Flaky test: DeleteVolume fails due to device busy"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-host-path/95/pull-kubernetes-csi-csi-driver-host-path-1-13-on-kubernetes-1-13/1170365877112016899

Test fails:
[code]

Provisioner logs:
[code]

Hostpath driver logs show stage, publish, unstage being called, but not unpublish. Unfortunately, we don't have k8s system logs to see what's going on in kubelet.

[2019-09-07 16:42] msau42 commented on #96
/kind failing-test

[2019-09-07 16:42] msau42 commented on #96
@kubernetes-csi/csi-misc

[2019-09-07 16:52] msau42 commented on #96
This is happening in CI too: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-csi-1-13-on-kubernetes-1-13/1169142833098002432

[2019-09-07 16:58] msau42 commented on #96
Ok I think it's because in 1.13 logic, we were checking if a directory was a mount point before calling unpublish: https://github.com/kubernetes/kubernetes/blob/release-1.13/pkg/volume/csi/csi_mounter.go#L299

Which I think won't work for hostpath since hostpath is just a bind mount of a directory on the root fs. We removed the logic in 1.14 when implementing ephemeral volumes.

I don't really und

[2019-09-11 01:33] moonlight16 commented on #53
Is this the same issue?

[code]

[code]

[2019-09-11 20:06] #86 closed

[2019-09-11 23:04] msau42 commented on #53
Error message looks similar to me.  @kfox1111 were you able to make any headway on supporting CSI in minikube?

[2019-10-04 16:28] misterikkit commented on #47
In addition to resource requests, we should recommend a [pod priority](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/)

As mentioned on the mailing list. An important DaemonSet should also have a blanket toleration.

[2019-10-04 18:52] msau42 commented on #47
/help

[2019-10-20 23:07] #52 closed

[2019-10-21 12:20] #15 closed

[2019-10-23 08:11] okartau opened #105 "Idempotency: repeated Node Unpublish operations cause failure"
Background: in [pmem-csi driver](https://github.com/intel/pmem-csi) we added more idempotency conformance.
To test, the repeated Node Volume operations were [added in csi-test](https://github.com/kubernetes-csi/csi-test/pull/229).
In process of upstreaming this change, the CI tests that use host-path-driver, fail:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-test

[2019-10-24 12:59] michael-db opened #107 ""node affinity conflict" following Deployment instructions in README"
With a microk8s v1.16.2 cluster on Fedora, I followed the instructions in the README, replacing 1.13 in the README with 1.16, i.e.,
[code]
One problem encountered was that csi-hostpathplugin-0 stuck in ContainerCreating
[code]
which I got past by
[code]
Maybe csi-hostpath-plugin.yaml should use type DirectoryOrCreate for that path?

However, the problem that I haven't worked around is that the con

[2019-10-24 15:05] msau42 commented on #107
The 1.16 deployment is not meant to work with 1.13 because it uses newer Kubernetes  features. Try using a 1.13 deployment spec from an older release

[2019-10-24 15:47] michael-db commented on #107
@msau42 Why do you think I'm using 1.13, Michelle?
[code]

[2019-10-24 15:57] msau42 commented on #107
Oh sorry, I misread your original comment about replacing 1.13.  Can you check your kubelet logs for hints to driver registration?  It is kubelet that is supposed to [create the CSINode object](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/nodeinfomanager/nodeinfomanager.go#L107).  And make sure that the CSINodeInfo feature gate is enabled on your cluster (all components, api

[2019-10-24 16:56] michael-db commented on #107
Thank you for clarifying the answer to "What creates the CSINode object?".
At https://kubernetes-csi.github.io/docs/csi-node-object.html I read
"In Kubernetes v1.12 and v1.13, because the feature was alpha, it was disabled by default."
so I understood that the --feature-gate was necessary for 1.16.
However, I added it anyway to the files
[code]
and restarted microk8s.
I verified with 'ps aux' that

[2019-10-24 17:02] msau42 commented on #107
The driver registration should happen as part of ./deploy-hostpath.sh.

Can you check that "/var/lib/kubelet" is configured as the kubelet's root in microk8s? If not, then the hostpath deployment spec should replace all instances of "/var/lib/kubelet" with whatever your kubelet root is.

[2019-10-24 17:03] msau42 commented on #107
The CSINodeInfo feature gate should be enabled by default starting in 1.14.

[2019-10-25 11:39] michael-db commented on #107
That was inspired, Michelle.
[code]
I decided the simplest way to resolve that was to do
[code]
And all was well.

I've closed a pull request because I don't have time for the "new contibutor"/corporate process now. You can amend the documentation or not as you wish.

[2019-10-25 15:19] michael-db commented on #107
Sorry, but it's already apparent that I won't get contributor approval through my current employer. I suggest you add a brief note to the README.md and this can be closed.

[2019-10-30 17:43] pohly commented on #105
We discussed this today in the Kubernetes-CSI standup and everyone agreed that a) this should be fixed in the hostpath driver and b) that having these idempotency tests in csi-test will be very useful.

[2019-11-01 00:05] msau42 commented on #83
This might be fixed by https://github.com/kubernetes-csi/csi-driver-host-path/pull/109

[2019-11-01 18:51] A-Hilaly commented on #72
/assign

[2019-11-04 11:25] #62 closed

[2019-11-05 23:47] msau42 opened #118 "1.16 deployment doesn't work on older clusters"
New CI jobs testing 1.16 deployment on older K8s versions is failing because of the dependency on the new volumeLifecycleModes:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-csi-1-16-on-kubernetes-1-15/1191821907750555651
[code]

I think this is working as intended since the 1.16 deployment depends on new APIs added in K8s 1.16.  I think that means we should remove any CI job

[2019-11-06 08:48] pohly commented on #118
Agreed. Those jobs would have been useful if a) they worked (obviously... :grin: ) and b) if we wanted to support running newer sidecars on older Kubernetes releases. With the interpretation of "recommended Kubernetes version" as "this is what we released for, don't run on anything older even if it would work", we no longer do the latter.

[2019-11-08 02:59] msau42 opened #119 "canary-on-1.16 block tests flaky"
https://k8s-testgrid.appspot.com/sig-storage-csi-ci#canary-on-1.16

Oddly enough, canary-on-master tests seem fine.

@jsafrane @pohly could you help take a look?

/kind failing-test

[2019-11-08 12:21] #46 closed

[2019-11-11 00:19] #53 closed

[2019-11-11 16:53] kfox1111 commented on #53
This is fixed in minikube v1.4.0.

[2019-11-14 21:16] ggriffiths opened #121 "Revert temporary SnapshotClass API version change after 1.17 release"
We needed to temporarily set the SnapshotClass apiVersion to be v1beta1 for snapshotter beta deployment changes.
https://github.com/kubernetes-csi/csi-driver-host-path/pull/98/files#diff-aa4f2bb53d3cab7051923bade02fac78R1

We should revert this to v1alpha1, and change https://github.com/kubernetes-csi/csi-driver-host-path/pull/98/files#diff-d090135c7b07955c3c2303b588b5dfcfR1054

to be k8s >= 1.17.

[2019-11-14 21:16] ggriffiths commented on #121
/assign ggriffiths
/label cleanup

[2019-11-15 04:41] ggriffiths commented on #121
Closing this. Instead, we're going to create a new test instead: k8s 1.17 hostpath deploy on Kubernetes master.

[2019-11-15 04:41] #121 closed

[2019-11-18 22:24] #61 closed

[2019-11-25 23:09] #55 closed

[2019-12-06 18:58] BenTheElder commented on #105
what is necessary to fix this? just limiting the concurrency of operations in the driver?

[2019-12-06 19:02] BenTheElder commented on #118
will this mean actually dropping support for older versions, or just for the deployment?
if I use a custom deployment can I support older kubernetes versions?

[2019-12-06 19:03] BenTheElder commented on #105
xref: https://github.com/kubernetes-csi/csi-driver-host-path/issues/72, this sounds like a superset of that

[2019-12-06 20:34] msau42 commented on #118
Our 1.16 version of the deployment specs uses a new api field introduced in 1.16.

So if you want to deploy on an older cluster, the deployment spec should not use the new field (and therefore not support the new 1.16 functionality)

[2019-12-06 23:22] msau42 commented on #96
/close
We no longer support 1.13 and 1.14 tests are looking stable

[2019-12-06 23:22] #96 closed

[2019-12-06 23:23] msau42 commented on #94
/remove-lifecycle stale
@pohly is this fixed?

[2019-12-06 23:23] msau42 commented on #83
/close

[2019-12-06 23:23] #83 closed

[2019-12-06 23:24] msau42 commented on #80
/lifecycle frozen

[2019-12-06 23:24] msau42 commented on #79
This has been done.
/close

[2019-12-06 23:24] #79 closed

[2019-12-06 23:25] msau42 commented on #71
/lifecycle frozen

[2019-12-08 20:30] tpoxa opened #127 "system:serviceaccount:cert-manager:csi-snapshotter cannot create resource ..."
[code]

Installation failed after 5m tmeout

[code]

[code]
[code]
[code]

[2019-12-09 07:02] pohly commented on #127
https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/deploy/kubernetes-1.16/hostpath/csi-hostpath-snapshotter.yaml#L43 install v1.2.0 of the external-snapshotter, which means that the deploy script should download the corresponding RBAC rules, which have: https://github.com/kubernetes-csi/external-snapshotter/blob/b3f591d85cce516e431c70e5337d5c67611ae2fe/deploy/kubernetes/rbac.yaml#L

[2019-12-09 07:03] pohly commented on #127
/cc @msau42

[2019-12-09 07:17] pohly commented on #127
The other problem is that the wrong URL didn't lead to some obvious error and early aborting of the script. For wget, it is the `--quiet` option which suppresses the error reporting and we don't check the return code during the diff. But that's just for diagnostics.

The actual download happens with `kubectl apply -f`. My version of `kubectl` (v1.16.0-rc.1.19+4cb51f0d2d8392) seems to ignore the ex

[2019-12-09 09:47] tpoxa commented on #127
This branch did not make big difference for me.

maksym@Debian-911-stretch-64-minimal:~/csi-driver-host-path/deploy/kubernetes-1.16$ ./deploy-hostpath.sh
SNAPSHOTTER_RBAC_RELATIVE_PATH rbac.yaml
applying RBAC rules
kubectl apply -f https://raw.githubusercontent.com/kubernetes-csi/external-provisioner/v1.4.0/deploy/kubernetes/rbac.yaml
serviceaccount/csi-provisioner unchanged
clusterrole.rbac.autho

[2019-12-09 10:54] pohly commented on #94
No, we still only have the output of `kubectl describe`: https://github.com/kubernetes-csi/csi-driver-host-path/blob/03f426213c3bcaf0b5d9b16b2ae6b9d08c67112a/deploy/util/deploy-hostpath.sh#L208-L213

[2019-12-09 11:08] pohly commented on #127
@tpoxa which version of kubectl are you using?

Can you check that you now get the expected RBAC rules? I have:
[code]

[2019-12-09 14:58] tpoxa commented on #127
[code]

[2019-12-09 15:49] pohly commented on #127
That looks sane to me. Sorry, I'm out of ideas.

[2019-12-09 15:52] xing-yang commented on #127
@ggriffiths can you please take a look?  thanks.

[2019-12-09 15:59] msau42 commented on #127
Hold on. Running the 1.16 versions of the hostpath deployment against a 1.12 cluster probably is going to have a lot of problems

[2019-12-09 16:02] msau42 commented on #127
Sorry ignore my last comment. I misread the kubectl output. What is the cluster version?

[2019-12-09 17:52] ggriffiths commented on #127
I'm not sure why #98 didn't catch this. I think we tested as far back as
`pull-kubernetes-csi-csi-driver-host-path-1-14-on-kubernetes-1-14`, so if it's 1.16 hostpath on an older version, that might have issues.

We create the CRDs in prow.sh before the snapshotter is deployed.

Seems like the error is coming from here in the old snapshotter:
https://github.com/kubernetes-csi/external-snapshotter/b

[2019-12-09 17:59] pohly commented on #127
Grant Griffiths <notifications@github.com> writes:

It seems to depend on the kubectl version. A recent kubectl silently
ignored the garbage after the URL.

[2019-12-09 18:38] tpoxa commented on #127
@msau42
[code]

[2019-12-09 18:41] tpoxa commented on #127
Its clean kubernetes installation. I only have cert-manager installed with Helm.
I see cert-manager mentioned in error message.
[code]
Maybe its somehow related with Cert-manager finalizers or so... Sorry I am still quite new to k8s.

[2019-12-11 23:04] ggriffiths commented on #118
/assign ggriffiths

[2019-12-24 02:22] msau42 commented on #127
I think the issue is the namespaces.  The cluster rolebinding shows csi-snapshotter service account and default namespace:
[code]

But your error message is csi-snapshotter in cert-manager namespace.

[2020-01-03 03:48] cwdsuzhou commented on #72
It seems I have sent a PR to fix the issue long long ago, but not anyone reviewed it.

https://github.com/kubernetes-csi/csi-driver-host-path/pull/17

[2020-01-03 03:52] cwdsuzhou commented on #72
If I should reopen it ?

[2020-01-03 03:57] cwdsuzhou commented on #47
if we deploy it under `kube-system`, we may `system-node-critical` priority class directly.

[2020-01-10 16:26] msau42 commented on #119
Its flaky across all jobs, not just this.

I think it's related to running on kind, where hostpath volumes go to the host. There may be races due another test grabbing the same device

[2020-01-10 16:36] msau42 commented on #119
Although if that were the case, then intree parallel tests should be flaky too? Maybe it's a probability game since there a lot more tests running intree

[2020-01-13 07:45] pohly commented on #119
Creating a loop device is done by kubelet and the CSI hostpath driver with https://github.com/kubernetes/kubernetes/blob/8a09460c2f7ba8f6acd8a6fb7603ed3ac4805eb6/pkg/volume/util/volumepathhandler/volume_path_handler_linux.go#L96-L112.

The command invocation itself (= "losetup -f --show") shouldn't be racy. Let's look at its implementation:
[code]

`losetup` first determines the next available loo

[2020-01-13 07:54] pohly commented on #119
=> https://github.com/kubernetes-sigs/kind/issues/1248

[2020-01-15 08:46] okartau commented on #105
I created #139 to tolerate repeated NodeUnpublish requests.
My local testing shows that this allows hostpath driver to pass the added repeated csi-sanity testing currently coming in https://github.com/kubernetes-csi/csi-test/pull/229, so right now there is no need to add mutex locking to satisfy those repeated tests, as I can't see failures.

[2020-01-15 09:14] pohly commented on #105
This is a dangerous argument: that you haven't been able to trigger a problem caused by missing locking does not mean that the problem doesn't exist or that we don't need to do anything about it.

In practice the problem should be exceedingly rare. It only happens when two gRPC calls reach the driver at the same time and get processed in parallel. I think the idempotency tests don't cover that, th

[2020-01-15 09:28] okartau commented on #105
I agree, I did not mean we don't need to deal with locking at all, just that currently to-be-added test cases do not expose problem that we can see fixed by added locking.
We should add locking, but the progress will be more assuring if we can have test case(s) improved by locking.

[2020-01-21 12:44] candlerb opened #142 "Doc error: link and DaemonSet"
In the [README](https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/README.md#confirm-hostpath-driver-works):

1. The link gives a 404.  I think it should point to e.g. https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/deploy/kubernetes-1.17/hostpath/csi-hostpath-plugin.yaml

2. The description talks about the "plugin DaemonSet" and "DaemonSet pod", but the deployme

[2020-01-24 09:25] michael-db commented on #107
Formally, this can be fixed by adding a short note to the README.

However, what would be much better would be for the kubelet root dir to be made available symbolically so that any yaml that needs to refer to it could do so indirectly and remain independent of the actual value. If that were done, there would be no dependency on the kubernetes config options or distribution - it would even be poss

[2020-02-10 20:15] #105 closed

[2020-02-12 07:59] Madhu-1 opened #150 "Failed to run hack/e2e-hostpath.sh with latest csi-test v3.0.0"
Updated   version from `v1.0.0-rc2` to `v3.0.0` in `hack/get-sanity.sh`
Run `./hack/e2e-hostpath.sh`  failed with below error

[code]
as the csi-test is release doesn't container linux-amd64 tar file and  `make hostpath` command is also not present in csi-driver-host-path

[2020-02-12 08:00] Madhu-1 commented on #150
cc @pohly

[2020-02-12 09:37] pohly commented on #150
`hack/get-sanity.sh` cannot depend on pre-compiled binaries for recent csi-test release because those don't get published anymore. It would have to get and build the source code instead.

Building the hostpath driver probably also changed.

[2020-02-12 10:14] Kartik494 opened #152 "Not able to mount volume to csi-app pod"
While running example application to check and validate for deployment,csi-app pod get stucked in containercreating state.here is description : -

Name:         my-csi-app
Namespace:    default
Priority:     0
Node:         minikube/192.168.99.100
Start Time:   Wed, 12 Feb 2020 14:59:44 +0530
Labels:       <none>
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"api

[2020-02-12 11:07] pohly commented on #152
This seems to be the relevant error:
[code]

You are deploying on minikube, right? Which version of it? See also https://github.com/kubernetes-csi/csi-driver-host-path/issues/53

[2020-02-12 11:10] Kartik494 commented on #152
@pohly yes,i am using  minikube version: v1.7.2

[2020-02-13 04:40] Kartik494 commented on #152
Hi @pohly i am facing issue with v1.7 but later when i deploy csi-hostpath-driver with minikube 1.16 i got succeed in case that csi-app pod got volume mount and while doing so i realise there is step missing of volumesnapshotclass crd i.e while deploying hostpath driver on kubernetes 1.16  volumesnapshotclass not created and we have to explicitly apply it through path `csi-driver-host-path/deploy/

[2020-02-13 05:55] Madhu-1 commented on #152
@Kartik494 i believe you are using 1.17 not 1.7 .

in kubernetes 1.16 snapshot CRD will be created by snapshot sidecar container, that why you are not seeing the issue but in kube 1.17 this is not the case.

as per the csi snapshotter doc distributor's has to bundle and deploy the controller and CRDs as part of their Kubernetes cluster management process

https://github.com/kubernetes-csi/external

[2020-02-13 06:23] Kartik494 commented on #152
@Madhu-1 thanks for suggestion and my concern is when i deployed it in kubernetes 1.16 all crds created but volumesnapshotclass  `volumesnapshotclass.snapshot.storage.k8s.io/csi-hostpath-snapclass created` is not created in my scenario and for volumesnapshotclass we have to explicitly apply yaml which is in path `/csi-driver-host-path/deploy/kubernetes-1.16/snapshotter` and it is not mention in do

[2020-02-13 06:45] pohly commented on #152
That would be only a stop-gap solution. As you pointed out, the CRD installation is no longer owned by the driver.

@xing-yang: what do you think?

[2020-02-13 08:23] Kartik494 commented on #152
@Madhu-1 @pohly I will try to clear my situation. The problem has 2 parts:

1. While using **k8s version v1.16** , as per the [README](https://github.com/kubernetes-csi/csi-driver-host-path#deployment), I only have to run `deploy/kubernetes-1.16/deploy-hostpath.sh` to create host-path-driver and get the expected output as mentioned. But the command did not create `VolumeSnapshotClass`. I had to ex

[2020-02-13 09:44] #142 closed

[2020-02-13 10:16] candlerb commented on #142
Thank you: however, the "found [here](https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/deploy/kubernetes-latest/hostpath/csi-hostpath-plugin.yaml)" link still gives a 404.

The "kubernetes-latest" entry is just a symlink stored as an object in the git repo: https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/deploy/kubernetes-latest - and it appears it cannot be fo

[2020-02-18 13:27] bhavenjp opened #158 "Restore from snapshot is always empty"
Restore from snapshot creates a new volume however the data of the original volume is not restored.

**Source PVC with data inside:**
[root@k8smaster examples]# kubectl exec -it my-csi-app /bin/sh
/ #
/ #
/ # cd /data
/data # ls -lrt
total 4
-rw-r--r--    1 root     root             7 Feb 18 12:54 TESTFi
/data #
/data # cat TESTFi
FDFDSD
/data #

**Created snapshot**
[root@k8smaster csi-driver-hos

[2020-02-19 09:28] Kartik494 opened #159 "Update Documentation to support all k8s versions for VolumeSnapshot"
In the current [README for snapshot-support](https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/README.md#snapshot-support), command `$ kubectl apply -f examples/csi-snapshot.yaml` applies VolumeSnapshot object for version `v1alpha1` which only seems to be valid for k8s versions <1.17.

The document should have support for VolumeSnapshot object for k8s version >=1.17 also (which us

[2020-02-19 09:28] Kartik494 commented on #159
/assign

[2020-02-19 14:42] #159 closed

[2020-03-04 22:05] msau42 commented on #118
/close
Thanks!

[2020-03-04 22:05] #118 closed

[2020-03-09 11:07] pohly commented on #94
/remove-lifecycle stale
/lifecycle frozen

[2020-03-09 17:32] xing-yang opened #164 "Update csi-driver-host-path README example to use latest images"
README needs to be updated to use latest images.  In the current example, snapshot is still at v1alpha1.  Should be updated to use the beta version.

[2020-03-09 17:32] xing-yang commented on #164
/assign @ggriffiths

[2020-03-17 22:57] #164 closed

[2020-03-19 06:10] Kartik494 commented on #152
Hi i am closing this issue as i got the result as volume mount successful.
Thanks

[2020-03-19 06:10] #152 closed

[2020-04-02 07:49] pohly commented on #72
/remove-lifecycle stale

I think we need to go further than that: we also need to serialize gRPC calls unless it is certain that they can operate in parallel. A production CSI driver may want to serialize calls that operate on the same volume and then use locks on data structures that are shared between volumes. For hostpath I think it is sufficient to serialize all volume calls with a comment tha

[2020-04-02 07:50] pohly commented on #47
/remove-lifecycle stale

[2020-04-10 00:24] xing-yang opened #168 "Create snapshot class using the yaml in hostpath repo"
When creating the snapshot class, we should be using the snapshot class yaml in the hostpath repo, not the one in the external-snapshotter repo:

https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/deploy/util/deploy-hostpath.sh#L225

https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/deploy/kubernetes-1.17/snapshotter/csi-hostpath-snapshotclass.yaml

[2020-04-10 00:24] xing-yang commented on #168
/assign @ggriffiths

[2020-04-10 00:34] msau42 opened #170 "Remove service from hostpath specs"
They're unnecessary and actually a random port is specified, which may not be desirable.

We got confirmation from sig-apps in https://github.com/kubernetes/kubernetes/issues/69608 that this will be supported. StatefulSet is v1 now, so they cannot change the behavior without it being breaking change.

/help
/kind cleanup

[2020-04-13 19:31] #168 closed

[2020-04-15 18:02] aayush-rangwala commented on #158
@bhavenjp  Can you share the exported yaml of your restored pvc (-o yaml)?

[2020-04-15 18:16] msau42 commented on #158
cc @xing-yang

[2020-04-15 18:33] xing-yang commented on #158
@bhavenjp Can you provide versions of external-snapshotter sidecar, external-provisioner sidecar, and hostpath CSI driver?  Have you tried this with the snapshot beta CRD and controller?

[2020-04-16 13:07] jsafrane opened #175 "PreStop hook always fails"
csi-hostpath manifests here and in kubernetes/kubernetes contains PreStop hook to remove the driver socket before containers dies.

Since node-driver-registrar container is distroless, the hook always fails:

`
I0330 08:31:17.836238    1362 event.go:278] Event(v1.ObjectReference{Kind:"Pod", Namespace:"ephemeral-5231", Name:"csi-hostpathplugin-0", UID:"ad6006d7-6425-4661-829e-8106640183fb", APIVers

[2020-04-16 13:10] Madhu-1 commented on #175
@jsafrane this is same as https://github.com/kubernetes-csi/node-driver-registrar/issues/21 will be fixed by https://github.com/kubernetes-csi/node-driver-registrar/pull/61

[2020-04-16 13:17] jsafrane commented on #175
Nice! I'll remove the PreStop from manifests here, they don't work and there is no plan to add shell to node-driver-registrar.
/assign

[2020-04-16 15:04] #175 closed

[2020-04-22 06:40] aayush-rangwala commented on #158
@bhavenjp  @xing-yang  I had faced a similar issue just like this before, the problem was, I was using csi-hospath-driver v1.2.0 for k8s-1.14 and I didn't enabled the feature gate `VolumeSnapshotDataSourcce` due to which, even when I give the VolumeSnapshot as the data source in restore pvc, the field was being removed

[2020-04-24 14:46] michael-db commented on #107
/remove-lifecycle stale

[2020-04-26 11:32] bhavenjp commented on #158
Hi All,

Thank you for your reply.
My test environment is crashed and I shall build a new one soon and test it again

[2020-04-28 23:42] ashish-amarnath opened #178 "Hostpath driver fails to delete volumesnapshotcontent whose DeletionPolicy is patched to `Delete`"
What happened:
A patched volumesnapshotcontent object does not get deleted.

These are the steps that I followed:
1. Create a volumesnapshot using a volumesnapshotclass with `DeletionPolicy` Retain. This created the volumesnapshot and the volumesnapshotcontent object with `DeletionPolicy: Retain`
2. Delete the volumesnapshot object created above. Now because the `DeletionPolicy` was `Retain` the v

[2020-04-28 23:44] ashish-amarnath commented on #178
cc @xing-yang
Is this a valid scenario for the CSI drivers? Is my expectation from the issue correct?

[2020-04-29 01:10] xing-yang commented on #178
@ashish-amarnath Can you test this using the latest code from external-snapshotter?  This might be the same issue as reported here: https://github.com/kubernetes-csi/external-snapshotter/issues/292.  We are cutting release 2.1.1 soon with this fix so you can wait for that as well.

[2020-04-29 01:11] ashish-amarnath commented on #178
Will give that a try. Thanks!

[2020-04-29 14:50] xing-yang commented on #178
@ashish-amarnath, 2.1.1 is released for external-snapshotter.

[2020-04-29 20:13] ashish-amarnath commented on #178
This was a false alarm.
/close

[2020-04-29 20:13] #178 closed

[2020-05-13 01:00] msau42 commented on #119
/close

[2020-05-13 01:00] #119 closed

[2020-05-18 06:12] Kartik494 commented on #47
/assign @Kartik494

[2020-05-22 04:47] #127 closed

[2020-05-28 04:16] Kartik494 commented on #47
@pohly can we have generic resources limits of memory and cpu define for each yaml? or should i implement all resource limit of memory and cpu as default in yaml define in [docs](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory)

[2020-05-28 11:00] pohly commented on #47
What do you mean with "generic resource limits"?

I don't know what the recommended way of determining resource limits is. It probably implies running the pods and then measuring, but I don't know how or what.

[2020-05-29 05:02] Kartik494 commented on #47
@pohly  here i would like to know  that is that any criteria for defining resources for each pod, example for csi-hostpath-attacher pod , what would be the resource limit for cpu and memory.

[2020-06-20 04:58] lmcdasm opened #187 "Error in deploying csi-hostpath-driverinfo.yaml <STDIN - Cant find KIND - CSIDriver> on 15,16 and 17 K8s"
Hello.

I have just cloned the repo for the host-path-csi-project:
https://github.com/kubernetes-csi/csi-driver-host-path

i have tried with 15, 16 and now on 17.4 K8S (that is what this log is).

When i do the deployment (again, im using 17+ K8S here instructions here but i got stuck at both places) i get the same error when i do the command:

 deploy/kubernetes-latest/deploy.sh

as outlined here

[2020-06-20 15:51] shantanugadgil commented on #55
/remove-lifecycle rotten

[2020-06-20 15:51] shantanugadgil commented on #55
/remove-lifecycle stale

[2020-06-20 15:51] shantanugadgil commented on #55
/reopen

[2020-06-22 06:36] pohly commented on #187
`deploy/kubernetes-latest/deploy.sh` is a symlink for the latest deployment, which is currently `kubernetes-1.18`. That deployment is not compatible with 1.17 because the version of CSIDriver changed from `storage.k8s.io/v1beta1` to `storage.k8s.io/v1`.

If you use the `kubernetes-1.17` deployment, it should work.

This probably should be explained better in the instructions if it wasn't clear. If

[2020-06-22 15:44] lmcdasm commented on #187
Hey there.

Argh.. i should have just chased down the softlink.. thanks for pointing
that out!

Cheers,
Daniel

On Mon, 22 Jun 2020 at 02:37, Patrick Ohly <notifications@github.com> wrote:

[2020-06-27 11:13] aayush-rangwala opened #188 "csi-snapshotter pod throws an error "volumeID is not exist""
While trying out the `VolumeSnapshot`, getting the error intermitently:

`Failed to create snapshot: failed to take snapshot of the volume,         pvc-7cf67f78-a5b9-11ea-81ba-42010a8e0fc6: "rpc error: code = Internal desc         = volumeID is not exist`

where it is definitely sure that the pvc `pvc-7cf67f78-a5b9-11ea-81ba-42010a8e0fc6` exists in the namespace and is accessible

Tried to get the

[2020-07-11 11:22] #150 closed

[2020-07-16 01:39] scuzhanglei commented on #188
it's because the plugin don't discover existed volumes on the disk，same as #55

[2020-07-16 09:45] Kartik494 commented on #170
Hi @msau42, As per i understand we have to remove services for sidecars yaml in hostpath and  keep the service name and service account name in spec of statefulset?

[2020-07-23 15:08] michael-db commented on #107
/remove-lifecycle stale

[2020-07-29 23:58] msau42 commented on #170
Hi @Kartik494 that's correct.

[2020-07-30 00:05] msau42 opened #192 "Consolidate all the hostpath driver specs into one pod"
I think we kept attacher separate so that we can easily test with or without it, but I don't see a reason why provisioner, resizer, snapshotter can't all be in the same Pod as the driver. Actually I think our attach required tests are using mock driver, not hostpath driver, so I think it should be safe to bundle attacher in the same pod as well.

[2020-07-30 00:05] msau42 commented on #192
/help
/good-first-issue

[2020-08-02 15:24] pohly commented on #192
One reason for separate pods is that we can test the RBAC rules for each sidecar separately. For example, if resizer and provisioner both need access to the same resource, but only the RBAC rules for provisioner list that, then resizer will work fine when deployed in the same pod as provisioner, but will fail when deployed separately.

[2020-08-03 20:23] msau42 commented on #192
Hm that's a good point. I guess it depends on how much we want to balance testing for rbac breakages vs providing a best practices example to the community. I think having all the individual pods:
* is very confusing to someone new to CSI
* isn't something that we recommend in a real production CSI driver
* doesn't follow security best practices since all the controller pieces need to use hostpath

[2020-08-04 08:52] pohly commented on #192
IMHO the main purpose of the csi-hostpath-driver is to facilitate testing. Providing a good example of how to write and deploy a CSI driver is secondary.

This could be addressed by adding comments and explanations why it is done this way here and what should be done instead. Perhaps link to a "real" CSI driver that does it properly?

This is more relevant because it affects testing. But is that r

[2020-08-04 08:56] pohly commented on #192
I was wondering how important RBAC testing really is: if every CSI driver uses all sidecars and thus all RBAC rules, then buggy individual RBAC rules don't matter as long as we also test with all of them combined. But there are valid reasons for CSI driver developers to not use certain sidecars (skip attach -> no external-attacher, no resize support -> no external-resizer), so I think it is import

[2020-08-04 17:22] msau42 commented on #192
Are there other ways we can check for rbac updates, like doing a file diff? Or test via mock driver, which is definitely a testing-only driver?  We don't have good coverage with csi hostpath already. For example, the primary attacher path is completely untested and our tests did not catch any of the rbac changes needed with the latest attacher.

I haven't seen specifically a test failure because o

[2020-08-05 08:45] pohly commented on #192
The problem is that the a missing RBAC rule only shows up when the sidecar actually tries to do some operation that is forbidden. Code reviews may be able to find new operations, but I suspect that it's very easy to miss - it has slipped through in the past.

I suspect we cover even less code paths with the mock driver compared to the hostpath driver.

But is that observation a reason to extend RB

[2020-08-05 11:14] Kartik494 commented on #170
@msau42 so the changes is to be done in all the yaml except  [csi-hostpath-plugin](https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/deploy/kubernetes-1.18/hostpath/csi-hostpath-plugin.yaml#L2)  yaml ? As i see we defined the need for service there!

[2020-08-13 06:07] Kartik494 commented on #170
/assign

[2020-09-01 23:51] #170 closed

[2020-09-14 11:18] sedovalx opened #199 "k8s 1.17: csi-hostpath-snapclass is not created during the driver deployment"
I'm trying to deploy the driver on minikube with `--kubernetes-version v1.17.9`, so I have installed CRDs and then have run `csi-driver-host-path/deploy/kubernetes-1.17/deploy.sh` for that. The last line in the deploy log was "deploying snapshotclass based on snapshotter version". And then, when I tried to create a snapshot with `examples/csi-snapshot-v1beta1.yaml` I've got the following error for

[2020-09-15 07:56] sedovalx commented on #199
The problem happened because I was calling the `deploy.sh` script from inside the `kubernetes-1.17` directory. It should be called from the outside of it.

[2020-09-15 11:02] pohly commented on #199
/reopen

It should be possible to invoke the script anywhere. That's what `BASE_DIR` https://github.com/kubernetes-csi/csi-driver-host-path/blob/d46b19b97909e779d28e90cb8c5eb091d5fc5b2b/deploy/util/deploy-hostpath.sh#L14 is for.

I'm not sure why it is failing, but the issue seems legitimate.

/help

[2020-09-15 11:09] sedovalx commented on #199
`BASE_DIR` is `.` if I do
[code]
but it contains `kubernetes-1.17` if
[code]

MacOS, zsh

[2020-09-15 14:59] pohly commented on #199
Bingo: https://github.com/kubernetes-csi/csi-driver-host-path/blob/d46b19b97909e779d28e90cb8c5eb091d5fc5b2b/deploy/util/deploy-hostpath.sh#L222

That only works when `BASE_DIR` includes the "kubernetes-x.yy" name. The check shouldn't make that assumption and instead use
`driver_version="$(basename "$(readlink -f "${BASE_DIR}")" )"`

Does `readlink -f` work under MacOS? It's from GNU coreutils.

[2020-09-15 15:36] sedovalx commented on #199
No, seems it doesn't work on MacOS. Here is an explanation and a workaround https://stackoverflow.com/questions/1055671/how-can-i-get-the-behavior-of-gnus-readlink-f-on-a-mac

[2020-09-16 08:36] pohly commented on #199
@sedovalx a simple `cd + pwd` should do the trick here. Do you think you can come up with a PR?

[2020-09-17 07:44] sedovalx commented on #199
Sorry - I don't have much knowledge in bash. Can do if you tell me exactly what to change :)

[2020-09-24 10:02] sedovalx opened #201 "Creation of a volume snapshot takes longer than a minute"
External snapshotter: v.2.0.1

I have the following sequence of events:
- create a PVC
- create a job that runs a pod that uses the PVC
- then I watch for the job's events
- get an event that the job succeeds
- create a snapshot of the initial PVC
- create a new PVC based on that snapshot

Creating the snapshot takes time to complete. In the events, I see the following
[code]
In the related fragme

[2020-09-28 22:27] sventi555 opened #203 "Attempts to delete a VolumeSnapshotContent continually fail"
I tried to create a VolumeSnapshotContent that references a pre-existing snapshot in DigitalOcean. I then specify that VolumeSnapshotContent resource as a source in a VolumeSnapshot.

When I subsequently tried to delete both resources, the VolumeSnapshotContent did not delete (after being marked for deletion for over 10 minutes).

Here are the resource manifests:

[code]

[code]

The snapshot indi

[2020-09-29 11:11] pohly commented on #203
Hmm, what does this have to do with the csi-driver-host-path? :thinking:

[2020-10-02 07:54] YiannisGkoufas opened #205 "Controllerserver check for already existing volume name"
Hi there,

was just looking at controllerserver and especially in this line https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/pkg/hostpath/controllerserver.go#L124 and I am a bit confused.

What is the case where a new pvc with the same name gets created?

Thanks!

[2020-10-02 08:49] pohly commented on #205
`CreateVolume` might be invoked more than once with the exact same parameters, for example if the response is lost and never reaches the caller, or when the caller aborts the first instance of the call because of a timeout.

The keyword here is "idempotency".

[2020-10-02 08:55] YiannisGkoufas commented on #205
Perfect, makes sense. Thanks for the prompt response!

[2020-10-02 08:55] #205 closed

[2020-10-02 16:40] YiannisGkoufas opened #206 "NodePublishVolumeRequest readonly"
Not sure if there is a workaround for this CSI implementation, but thought I would ask in case someone has more insights.
Whatever I tried I cannot get the NodePublishVolumeRequest readonly to be true. Has anyone experience it as well?
More details here:

https://github.com/kubernetes/kubernetes/issues/70505#issuecomment-702824379

[2020-10-08 10:00] Kartik494 opened #207 "make hostpath Don't give expected output"
When i run command "make hostpath" from  my root directory i got the error as "make: *** No rule to make target 'hostpath'.  Stop."
and in make file the argument is used for build is: all
CMDS=hostpathplugin
all: build

include release-tools/build.make

However when i changes the argument all to hostpath then the command "make hostpath" is executed

CMDS=hostpathplugin
hostpath: build

include rel

[2020-10-08 10:01] Kartik494 commented on #207
/assign

[2020-10-09 08:51] pohly commented on #207
Works for me. I'm using:
- GNU Make 4.2.1
- Debian GNU/Linux 10 (buster)
- csi-driver-host-path master (= 123fa4eed59e3609c8498d8bf0d368d0b734e172).

`all` depends on `build`, which depends on `$(CMDS:%=build-%)`.

I've not checked whether the latter is part of POSIX make or specific to GNU Make.

[2020-10-14 11:11] pohly commented on #72
/reopen

[2020-10-14 11:12] pohly commented on #72
/lifecycle frozen

[2020-10-15 11:57] Kartik494 commented on #207
Hi @pohly  Thanks for input ,  could you please suggest is there any pre-requisite i have to follow for running the command make hostpath in my envoirment. Is the GNU Make is specific to be at 4.2.1 version? Because i am still facing issue in that , only command is working for me is when i change this to make all or make. Please Suggest

[2020-10-15 14:56] pohly commented on #47
/remove-lifecycle stale
/lifecycle frozen

[2020-10-15 15:16] pohly commented on #207
Now I get it. It's failing for your because you literally are running `make hostpath`.

That simply isn't a valid invocation because there is no such build target, as make is pointing out.

If you want to build the binary, use `make` without a build target. That works in any of the Kubernetes-CSI repos, so you don't have to figure out what the binary is called.

[2020-10-20 18:51] andymcmahan opened #211 "Use hostpath.csi.k8s.io across multiple node pools"
Hi.
When using csi-driver-host-path in GKE 1.17.12 following the suggested deployment [deploy-1.17-and-later](https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/docs/deploy-1.17-and-later.md) I noticed that Node Affinity for pv's `topology.hostpath.csi/node` gets set to the instance group of the pool that is assigned the hostpath pods. I can control where these pods are run by addi

[2020-10-21 07:35] irbekrm opened #212 "destroying example deployment with a script"
Hi!

Thanks for this great project!

I was following the example linked from Readme and using the script in `deploy/util/deploy-hostpath.sh` to deploy the driver and the sidecars and it was really convenient, but if I want to clean up afterwards it takes a bit of time, especially to find the RBAC resources the script deployed- I was wondering if it wouldn't be nice to also be able to afterwards de

[2020-10-21 09:51] Kartik494 commented on #207
@pohly  Yes when i use without build target then it works fine for me i.e by simply running make command , i will be closing this issue.
Thanks

[2020-10-21 09:51] Kartik494 commented on #207
/close

[2020-10-21 09:51] #207 closed

[2020-10-26 07:54] pohly commented on #211
Not at the moment. Provisioning will be problematic once there is more than one instance of the driver in the cluster. An idea how to address that is tracked in https://github.com/kubernetes-csi/external-provisioner/issues/487

[2020-10-26 08:00] pohly commented on #212
I think that would be useful.

Labeling the resources and then deleting those by selecting them via that label would be a good way to keep the script generic.

[2020-10-26 23:13] msau42 commented on #107
The ask here is to document the steps needed to deploy the driver when the kubelet root directory is not "/var/lib/kubelet". Maybe we could actually take it a step further and make it customizable in the deployment script.

/help
/remove-lifecycle stale

[2020-11-07 14:22] aayushrangwala commented on #188
@scuzhanglei  yeah, but isn't it better to resync the cache (maps) after each restarting the pod. It could be something like when the maps are initialised, we can update/recreate the map

[2020-11-09 06:24] aayushrangwala commented on #188
/close

[2020-11-09 06:24] #188 closed

[2020-11-09 07:09] aayushrangwala commented on #212
@pohly  I have came across similar requirement. I believe we should make the deploy script to be generic and pass the operator as an arg. Like `hostpath-driver.sh install ` and `hostpath-driver.sh delete` because we are evaluating paths and versions in the script so even at the time of destroying we won't need to re-evaluate them since rbacs doesn't have labels at the moment, we cannot just direct

[2020-11-09 07:46] pohly commented on #212
RBAC objects have an `ObjectMeta` and thus can have labels. That they currently don't have them is something that we can and should change once we add deletion by label.

It may be useful to delete objects created by a different version of the scripts, for example when it isn't even known anymore which exact version was used for deploying, or simply to keep it easy to use.

When deleting exactly w

[2020-11-09 08:06] aayushrangwala commented on #212
right!, make sense. thanks. I will create seperate PRs for adding labels to all the rbac-files and also the resources which dont have right now (probably for the older versions also) and then will just add a PR for deleting script in this repo.

[2020-11-10 01:36] umegaya opened #217 "minikube: cannot unmount volume managed by hostpath.csi.k8s.io"
### problem
- cannot terminate pod after restart a few times, because of unmount failure like following, but directory correspond to volume id seems to exist

- error log
[code]

- directory under /var/lib/csi-hostpath-data exists
[code]

- I think volume id `8f1522d7-2258-11eb-93f9-0242ac110016` points to the directory under /var/lib/csi-hostpath-data and error indidate the directory does not exi

[2020-11-10 09:56] aayushrangwala commented on #217
@umegaya What version of csi driver it is?
The list of volumes and their snapshots are actually stored in-memory in a map, which gets re-initiated once the plugin pod is restarted. Please refer [this](https://github.com/kubernetes-csi/csi-driver-host-path/issues/188) issue and check if this is the case.

[2020-11-10 10:32] aayushrangwala commented on #199
/cc @pohly

[2020-11-10 16:34] umegaya commented on #217
@aayushrangwala hi, driver version seems to be 1.4.0 according to the `kubectl cluster-info dump` output
```I1110 13:14:04.119223       1 connection.go:185] GRPC response: {"name":"hostpath.csi.k8s.io","vendor_version":"v1.4.0-rc2-0-gee6beeaf"}```

and your link looks similar with my case, but if so, how can I prevent csi-hostpath-driver from losing its list of volume which is only stored in memor

[2020-11-11 17:33] RaunakShah opened #219 "Cant create raw block pvc from volume snapshot"
While helping @xing-yang test volume snapshots, we noticed that snapshots of raw block volumes cant be used as a source to create PVCs.

1. Create a raw block pvc
[code]

2. Create a snapshot of the pvc
[code]

3. Create a pvc with snapshot above as the source
[code]

The restored PVC remains in the Pending state:

[code]

[2020-11-11 17:51] RaunakShah commented on #219
/assign

[2020-11-11 21:04] #219 closed

[2020-11-12 02:50] msau42 commented on #219
cc @Jiawei0227

[2020-11-12 02:56] Jiawei0227 commented on #219
Interesting. Today in our snapshottable we dont have raw block tests. It seems we need to add it sooner than later

[2020-11-13 08:49] aayushrangwala commented on #217
@umegaya You cannot prevent them. Its just the way it is I guess.

[2020-11-19 17:32] #187 closed

[2020-11-24 13:56] silenceper opened #226 "make hostpath failed"
follow readme:
[code]

when i use `make` build success，Is the readme wrong?

[2020-11-24 15:17] pohly commented on #226
Yes. We have the same generic build targets (`make build`, `make push`, ...) in all repos now. To build an individual command in a repo which has more than one, use `make build-<cmd name>` where `<cmd name>` is one of the `CMD` items in the top-level Makefile.

Care to submit a PR which fixes this?

[2020-11-25 08:36] #226 closed

[2020-12-04 23:57] nemo83 commented on #71
Just here to say thank you! 🙏 I now have CSI driver up and running on my microk8s cluster hosted on raspberry pi4.

[2020-12-07 14:24] nemo83 commented on #211
Hi,

not sure if this is the same issue as above, but I currently have this scenario:

[code]
And I can see that PVC are successfully created only on pi-one. I've created this helm chart with the required config to run CSI localhostpath with snapshotter and controller, https://github.com/speedwing/csi-hostpath-helm but I'm struggling to make it to work across all my raspberry pis (I'm running on m

[2020-12-10 22:04] Jiawei0227 commented on #219
I have seen this error in the https://k8s-testgrid.appspot.com/sig-storage-csi-ci#1.18-on-master testing

[2020-12-15 13:31] cumirror opened #233 "Clone from raw block pvc failed"
1. Create a pvc
[code]
2. clone from pvc
[code]

The cloned PVC remains in the Pending state:
[code]

[2020-12-22 13:22] #158 closed

[2021-01-27 22:37] tamalsaha opened #239 "Using in production"
Hello,
Is there any plans to make this a production quality driver? Or, this will remain as a non-production driver?

Thanks.

[2021-01-28 11:12] pohly commented on #239
No.

Is there a need for it? What would be the advantage over the in-tree emptydir or hostpath volume types?

I guess it could be used to manage additional disks, but that raises all kinds of questions that don't have good answers (IMHO).

[2021-01-28 11:38] tamalsaha commented on #239
We want to use local volume for running databases.

[2021-01-28 23:41] colin-mccarthy opened #241 "k8s.gcr.io/sig-storage/hostpathplugin:v1.5.0 not found: manifest unknown"
Hello,

It appears the  hostpathplugin:v1.5.0 container image doesn't exist on the k8s.gcr.io container registry.

[code]
[code]

[2021-01-29 08:14] pohly commented on #241
We are in the process of creating the v1.5.0 release. It starts with
- [x] bumping up the version number in the manifest,
- [ ] continues with tagging the release and
- [ ] ends with promoting the image.

[2021-01-29 15:27] pohly commented on #241
v1.5.0 image is available:

https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/sig-storage/hostpathplugin@sha256:de166db2f9245cd0cccacfea9527f7e4c25816fde401e920163b5c17637daad1/details?tab=info

/close

[2021-01-29 15:27] #241 closed

[2021-02-02 08:25] daresheep opened #243 "one snapshot create many snap file & much slow"
Dears,

csi-driver-host-path version : V1.4 /V1.5
external-snapshotter:  v4.0

[code]

try to create a snapshot for iso-win use below yaml:

[code]
[code]
watch at  csi-data-path ,a lot of snap files created. each 1min .

![image](https://user-images.githubusercontent.com/8828158/106571352-033df000-6572-11eb-98fb-5aa31bd45a77.png)

![image](https://user-images.githubusercontent.com/8828158/1066850

[2021-02-08 10:10] pohly commented on #212
/remove-lifecycle stale

@aayushrangwala do you still intend to work on this?

[2021-02-09 19:10] pohly opened #247 "merge mock and hostpath driver"
Both mock and hostpath driver are used for testing, just in different configurations and with different capabilities of the driver. It's not clear whether there actually is a reason to maintain two different drivers. Perhaps they should be merged into one.

Existing capabilities:
- check credentials (mock)
- optional attach (mock)
- snapshots (both?)
- error injection via JavaScript hooks (mock -

[2021-02-21 14:15] #201 closed

[2021-02-24 14:48] #72 closed

[2021-02-25 06:22] hossainemruz opened #250 "Failed to pull docker image for hostpathplugin:v1.6.0"
[code]

[2021-02-25 06:29] pohly commented on #250
Will be resolved via https://github.com/kubernetes/k8s.io/pull/1720

[2021-02-25 06:37] michael-db commented on #107
/remove-lifecycle rotten

[2021-02-25 09:46] pohly commented on #107
Issue #71 is an older issue about the same problem. Let's treat this one here as a duplicate and close it.

/close

[2021-02-25 09:46] #107 closed

[2021-02-25 10:02] daresheep opened #251 "Data lost after reboot"
Hello,

I had using csi-driver-host-path V1.5 .0

After reboot system,  both pod had been crashed.

describe pods , information this:

[code]

After reboot, the mount information were losted, but  discoveryExistingVolumes()  is reading the data form "findmnt",

This makes all of volume information lost.

Can someone have other idea???

Thank you....

[2021-02-25 10:03] daresheep commented on #251
@pohly

Sir, Can you give me some help, thanks.

[2021-02-25 10:32] hossainemruz commented on #250
Fixed in https://github.com/kubernetes/k8s.io/pull/1720

[2021-02-25 10:32] #250 closed

[2021-02-25 16:24] pohly commented on #251
After the reboot you are still using that version? There were some changes in the code in v1.6.0, but nothing that should have made things worse. Just want to be sure.

Looking at the code, I suspect it was never meant to survive a reboot. Remember, this is a demo driver. It doesn't support all use-cases of a real driver.

Having said that, a PR which enhances the tracking of local volumes and sna

[2021-02-26 06:41] daresheep commented on #251
Thank you for your help!

Just upgrade to V1.6.0  this issue already exist.

I think i need to setup other CSI driver to handler this.

Thanks again.

[2021-02-26 13:11] #203 closed

[2021-03-01 18:27] #206 closed

[2021-03-03 18:51] aglitke commented on #239
I would also like to point this thread to https://github.com/kubevirt/hostpath-provisioner  This driver sees significant usage and combined with @tamalsaha 's previous comment I think there is a case for it.  It would be nice if we could all work together on a single driver instead of fragmenting.  Hostpath is preferred over local-volume for several reasons including the possibility of dynamic pro

[2021-03-07 17:28] pohly commented on #211
/remove-lifecycle stale
/lifecycle frozen

Since v1.6.0 and PR https://github.com/kubernetes-csi/csi-driver-host-path/pull/248, "distributed provisioning" is supported. What's missing is distributed snapshotting and resizing. In both cases the sidecar must be updated somehow - now specific plans for that at the moment.

[2021-03-16 10:18] pohly commented on #247
We discussed this and came to the conclusion that as long as we only need to maintain one driver it doesn't matter too much which one we pick. However, the hostpath driver seems to be a better starting point because it is more widely used (several Prow jobs), is more realistic (actual mounts) and more complete (raw block support), and can be released independently because it is in its own repo. Th

[2021-03-18 07:38] wzy109871 opened #257 "How to specify the node directory as the creation directory for PV？"
How do I specify that StorageClass uses a node-specific directory as the creation directory for PV?

[2021-03-27 08:46] cumirror commented on #233
csi-hostpath-provisioner log:
[code]

Timeout for waiting for creation or deletion of a volume (default 10s), after increased timeout, pvc clone success.

[2021-03-27 13:07] pohly commented on #233
/reopen

So you found the reason, good. But we shouldn't we fix this in the repo?

Also, did CreateVolume *always* fail? The driver should continue with preparing the volume and eventually the CreateVolume call should succeed. In other words, a higher timeout helps to avoid intermittent errors, but it shouldn't be necessary.

[2021-03-29 08:30] pohly commented on #233
Which version of the csi-driver-host-path were you using?

Bug fixes around concurrent calls went into 1.5 (https://github.com/kubernetes-csi/csi-driver-host-path/pull/220) and 1.6 (https://github.com/kubernetes-csi/csi-driver-host-path/pull/270).

In particular, #220 seems to address this issue.

/close

[2021-03-29 08:30] #233 closed

[2021-03-29 09:57] avalluri commented on #247
With #269 and the below changes in Kubernetes e2e, I could able to run mock csi storage tests:
[code]

[code]

[2021-04-07 07:22] stoneshi-yunify commented on #251
I encountered this issue too with latest release (v1.6.2). I looked at the code and I think I've known the reason, the func `discoveryExistingVolumes` can not be used to discover existing volumes after reboot. It can only survive a pod restart, not a node reboot. I managed to get it work by getting the existing volumes from the PersistentVolumes.

@pohly Could you please take a look at [my code](h

[2021-04-07 08:32] pohly commented on #251
That function is also broken in other ways. I ran into that when trying to update the driver in Kubernetes E2E testing:
https://github.com/kubernetes-csi/csi-driver-host-path/pull/210#discussion_r605734635

Let's use this issue to track that rewrite of the state saving code.

/reopen
/cc @fengzixu

[2021-04-07 08:33] pohly commented on #251
@fengzixu you said that you wanted to work on this. Can you give an estimate when you might be done? This is relatively urgent because it blocks using the 1.5 and 1.6 driver releases for testing.

[2021-04-07 08:36] fengzixu commented on #251
@pohly I have worked on it. Is is ok for you to submit the fixing PR on next Monday? If there is any change about this time, I will sync up with you in this issue

[2021-04-07 08:39] pohly commented on #251
Sounds good.

[2021-04-09 12:34] #199 closed

[2021-04-12 10:21] fengzixu commented on #251
Updated: I am working on it today. But my work is little heave. Let me sync up If I can submit this PR by tonight

[2021-04-12 12:44] #217 closed

[2021-04-14 07:15] stoneshi-yunify opened #273 "Hostpath driver does not export volume metrics"
The hostpath driver does not export volume metrics, can not see any kubelet_volume_stats_* metrics in Prometheus.

Per CSI [spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#nodegetvolumestats):
[code]

However, the hostpath driver does not enable the GET_VOLUME_STATS node capability, per https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/pkg/hostpath/no

[2021-04-14 08:48] stoneshi-yunify commented on #273
I'd like to submit a PR to fix this issue. Could someone assign this issue to me? Thanks.

[2021-04-14 10:06] pohly commented on #273
/assign @stoneshi-yunify

Might not work, though, if you aren't a collaborator. We'll see...

[2021-04-15 00:36] chrishenzie opened #274 "distributed-on-master failing"
The [distributed-on-master](https://k8s-testgrid.appspot.com/sig-storage-csi-ci#distributed-on-master) test has been failing since April 7th.

Taking [a sample error](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-csi-distributed-on-kubernetes-master/1382467134730276864/build-log.txt), it looks like the root cause is a missing `test-driver.yaml`:
[code]

cc @msau42 @pohly

[2021-04-15 06:30] pohly commented on #274
I have a fix for that in PR https://github.com/kubernetes-csi/csi-driver-host-path/pull/253

I know, should have been a separate PR, but I was expecting that one to merge a bit sooner.

[2021-04-15 20:51] #273 closed

[2021-04-15 23:29] chrishenzie commented on #274
@pohly Thanks for the speedy fix! It looks like there was one more test failure in [the most recent run](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-csi-distributed-on-kubernetes-master/1382829568221515776).

[2021-04-16 07:10] pohly commented on #274
That looks like a timing flake. Let's keep this issue open and monitor that a bit longer.

/reopen

[2021-04-16 07:14] pohly commented on #274
Hmm, occurred twice already. I'll check...

[2021-04-25 12:07] aayushrangwala commented on #243
@daresheep  Can you please confirm and post the cmd output, if multiple snapshots are created for the same PV and same VolumeSnapshot CR. Or if not, then can you please monitor the `generation` id is same everytime on the reconciliation or the controller is creating the same snapshot multiple times.

As discussed in the other PR, the logs with CreateSnapshot seems to be just the reconcilation log

[2021-04-27 02:28] stoneshi-yunify opened #279 "clone volume: cp doesn't support sparse file"
Hostpath: v1.6.2

Cloning volume will call `cp -a <src-vol> <dest_vol>`, refer to https://github.com/kubernetes-csi/csi-driver-host-path/blob/e4d72e308439144cdd996cbb7e22f8ca0a965474/pkg/hostpath/hostpath.go#L480.

The cp from Alpine by default doesn't support sparse file, it will copy a sparse file as a regular file. Therefore, if the source volume has a large sparse file, the cp will be extremel

[2021-04-27 09:14] pohly commented on #279
Looks like a useful enhancement. Care to prepare a PR?

One thing to watch out for is how much larger images become when installing cp from coreutils.

/help

[2021-04-27 09:26] stoneshi-yunify commented on #279
/assign

[2021-04-27 09:26] stoneshi-yunify commented on #279
/remove-help

[2021-04-28 02:11] stoneshi-yunify commented on #279
The `tar` hostpath used for snapshot/restore doesn't support sparse file either. It will treat the sparse file as regular file, so the process is very slow and the resulting file is usually huge. We may use GNU tar with the `--sparse` flag instead.

[2021-04-30 12:12] pohly commented on #274
`External Storage [Driver: hostpath.csi.k8s.io] [Testpattern: Dynamic PV (immediate binding)] topology should provision a volume and schedule a pod with AllowedTopologies` is still flaky.

Let's investigate as part of this issue.

[2021-04-30 12:17] pohly commented on #274
The reason for that failure was identified as problem in external-provisioner and fixed in https://github.com/kubernetes-csi/external-provisioner/pull/612.

We can fix the job by updating to the latest external-provisioner.

[2021-04-30 12:30] pohly commented on #251
Recovering state after a driver restart was fixed in https://github.com/kubernetes-csi/csi-driver-host-path/pull/277.

However, the original ask in this issue was to also support host reboots. That's a bit different because mounted volumes become unmounted and need to be mounted again.

I don't think the hostpath driver needs to support that. It is clearly marked as "don't use in production" and I

[2021-04-30 14:50] pohly commented on #71
/assign

[2021-04-30 19:06] msau42 commented on #192
/reopen
/lifecycle-frozen

[2021-04-30 19:08] msau42 commented on #192
I think we should seriously consider having an option to deploy all the sidecars into one Pod. k/k kind testing is very flaky and I think being able to reduce load from our tests by a few 100 pods would definitely improve the situation.

[2021-04-30 19:41] pohly commented on #192
Sounds reasonable. But then we should still have one alternative deployment with one pod per sidecar and some minimal testing to cover the correctness of our RBAC rules.

[2021-04-30 20:24] msau42 commented on #192
Agree, unless we can think of another way to test rbacs, we'll want both methods. For our kubernetes-csi testing, we can still use the current method, but for k/k, we can use the consolidated way.

[2021-05-01 08:41] pohly commented on #192
Agreed, that should give us good coverage of both approaches. I was struggling a bit with identifying "minimal testing" because it's not immediately obvious which tests go through all code paths that depend on RBAC - running all of them avoids having to make that choice.

[2021-05-03 10:22] #212 closed

[2021-05-03 17:07] pohly commented on #192
/assign

[2021-05-03 19:35] pohly commented on #192
I think we should have additional jobs for the csi-driver-host-path repo to cover all deployment flavors. If we only test the deployments with separate pods, then it could happen that we accidentally break the deployments meant for testing in Kubernetes and only notice when trying to use a new release in Kubernetes.

[2021-05-04 09:59] #94 closed

[2021-05-04 14:39] pohly commented on #274
After merging PR #280, the job started to pass: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-csi-distributed-on-kubernetes-master/1389537313842794496

[2021-05-04 14:39] #274 closed

[2021-05-05 13:29] pohly commented on #80
This was implemented as part of https://github.com/kubernetes-csi/node-driver-registrar/pull/145

/close

[2021-05-05 13:29] #80 closed

[2021-05-10 15:37] #192 closed

[2021-05-11 08:59] #71 closed

[2021-05-12 11:44] pohly opened #290 "support publishing multiple times and staging exactly once"
The driver has traditionally supported publishing multiple times in parallel. That was overlooked when adding a single boolean for `IsPublished`: https://github.com/kubernetes-csi/csi-driver-host-path/blob/7a252595fe60ac7a75fed45214430893aff46d18/pkg/state/state.go#L53

That must be a list of target paths.

[2021-05-12 11:51] pohly commented on #290
`IsStaged` also should better be converted to a string which holds the staging target path. Then in `NodeStageVolume` we can detect if the function gets called again with a different path, which is an error (?!).

[2021-05-13 02:16] stoneshi-yunify commented on #279
The GNU tar may not be adopted as GNU cp. When testing with the sparse file with IO (e.g. a running kubevirt virtual machine), the GNU tar command often returns exit code 1 instead of exit code 0, as described in manpage of GNU tar:
[code]

Even we bypassed the the exit code 1 (treat it as success), after snapshot restore (`tar -Szf`),  the resulting sparse file failed to start a kubevirt virtual

[2021-05-18 11:35] #290 closed

[2021-05-19 15:18] #279 closed

[2021-06-08 01:39] gccio commented on #257
you can use `statedir` to customize the PV's directory. Default value is `/csi-data-dir`

[2021-06-27 17:43] pohly commented on #247
/reopen
/assign

All functionality was moved over into csi-driver-host-path and only that driver is used now.

However, we still need to remove the mock driver source code and then at some point do a csi-test release without it.

[2021-07-26 21:09] wstrange opened #318 "RFE: kind sample / easy installation using kustomize"
I have a GitHub pipeline where I want to test an operator that uses VolumeSnapshots.

Setting up `kind` is relatively easy, and I have this working. But getting the CSI hostpath provisioner working in a github workflow is challenging.  It would involve cloning this repo and running the installer. Possible I suppose - but awkward.

What would be neat is a kustomize deployment where kind could do so

[2021-07-31 22:23] #239 closed

[2021-08-02 09:17] pohly commented on #318
There's not anything special about kind, right?

That aside, supporting kustomize makes sense and could replace or simplify the current `deploy-hostpath.sh` script.

/help

[2021-08-02 10:55] pohly commented on #247
/remove-lifecycle rotten

[2021-08-18 03:18] bibibubu999 opened #322 "k8s.io/client-go/informers/factory.go:134: Failed to watch *v1.PersistentVolume: failed to list *v1.PersistentVolume: Unauthorized"
**What happened:**
I'm new to Kubernetes, has deployed a cluster with master and 1 node (v1.22). but stuck at installing the CSI Hostpath Driver. Hope to get some help from your guys:
NAME           STATUS   ROLES                  AGE   VERSION
kulk8smaster   Ready    control-plane,master   8d    v1.22.0
kulk8snode1    Ready    <none>                 8d    v1.22.0

**Error:**

W0814 17:58:06.72305

[2021-08-18 06:51] pohly commented on #322
How did you set up this cluster, i.e. with which tool?

Which pod is reporting these permission issues?

Did `deploy.sh` perhaps report any errors?

[2021-08-18 14:10] bibibubu999 commented on #322
@pohly

The issue has been fixed, after the VolumeSnapshot CRDs and snapshot controller installation, I run "kubectl get pods -w" and noticed the snapshot-controller-0 remained in pending status, waited more an hour plus with no luck, So I rebooted the master and nodes, after the reboot,  snapshot-controller-0 status changed to "Running".

Installation of the CSI Hostpath Driver run completed succ

[2021-08-18 14:10] #322 closed

[2021-09-01 12:35] Kartik494 opened #328 "Adding VolumeSnapshot CRDs and snapshot controller installation For GA"
While installing VolumeSnapshot CRDs in snapshot controller installation, the Snapshot controller uses the version 2.0.1 and accordingly crd for version v1beta1 is applied. For User Using cluster v1.20 and above V1 version Crd should be installed , therefore adding steps for GA snapshot controller.

Reference : https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/docs/deploy-1.17-and

[2021-09-01 12:35] Kartik494 commented on #328
/assign

[2021-09-24 21:43] #243 closed

[2021-09-27 14:11] #251 closed

[2021-09-27 19:07] #247 closed

[2021-11-02 21:29] xing-yang opened #338 "ControllerGetVolume should report abnormal volume condition if volume is not found"
If volume is not found, ControllerGetVolume should return abnormal volume condition rather than return nil.

https://github.com/kubernetes-csi/csi-driver-host-path/blob/v1.7.3/pkg/hostpath/controllerserver.go#L466

[2021-11-02 22:41] xing-yang commented on #338
CC @NickrenREN @fengzixu

[2021-11-05 02:56] #257 closed

[2021-11-10 14:49] xing-yang commented on #338
@zhucan This code here should still be fixed in the csi-driver-host-path repo:

https://github.com/kubernetes-csi/csi-driver-host-path/blob/v1.7.3/pkg/hostpath/controllerserver.go#L466

[2021-11-11 03:40] zhucan commented on #338
Test procedure:

1. disable the “ControllerListVolume” capability in hostpath repo:https://github.com/kubernetes-csi/csi-driver-host-path/blob/76efcbf8658291e4f43ccf3d7a6ac462df8af706/pkg/hostpath/controllerserver.go#L797
2. make new container for hostpath plugin
3. deploy new csi hostpath plugin container
4. create pvc and delete data from state.json: /var/lib/csi-hostpath-data/state.json
5. rest

[2021-11-11 14:13] xing-yang commented on #338
@zhucan Other than disabling "ListVolumes", you didn't make any changes to csi-driver-host-path?

[2021-11-12 02:12] zhucan commented on #338
Modify the responses of the "ControllerGetVolume"，https://github.com/kubernetes-csi/csi-driver-host-path/pull/339

@xing-yang

[2021-11-30 13:34] Kartik494 commented on #328
/remove-lifecycle stale

[2021-12-30 10:37] #318 closed

[2022-01-20 21:59] saikat-royc opened #345 "csi-hostpath driver does not handle NodeStage for multiple PVs (on same node) pointing to the same underlying path"
See test case in this [PR](https://github.com/kubernetes/kubernetes/pull/107065/files#diff-c0b41d6b4f963df4d44f35004220c427e991fa0606ec6bdc3ffbeef38e27bba6). The test case mounts multiple PV pointing to the same storage on the same node. This test case fails for raw block mode for csi-hostpath driver. The test case works for the volume mount mode.

The test fails because of this [code](https://git

[2022-02-24 14:48] xing-yang commented on #338
/remove-lifecycle stale

[2022-03-24 08:14] rahmataw opened #352 "Prevent csi pod moving to another node?"
Hi, I deployed CSI hostpath on top kubernetes with 2 worker node. Righ now, my pod `snapshot-controller-0` and `csi-hostpathplugin-0` deployed on worker2. I need to reboot this server. How to prevent this pod from moving to worker1? I want to avoid data loss due to this pod moving to worker1.

Note:
I checked my node label and there is a label `topology.hostpath.csi/node=worker-2` but when I check

[2022-03-24 12:45] pohly commented on #352
That sounds like you are using csi-host-path-driver for some real production workloads. Please don't do that, it is strictly for testing and demo purposes.

[2022-03-24 12:53] rahmataw commented on #352
Actually it is staging env and it is ok if the data lost, just curious for the posibility.

[2022-04-21 18:06] pohly commented on #345
Can you explain in more detail what the CSI driver must do differently? How is the current behavior incorrect?

[2022-04-21 18:06] pohly commented on #345
/remove-lifecycle stale

[2022-05-31 03:22] Kartik494 commented on #328
/remove-lifecycle stale

[2022-08-21 18:07] #352 closed

[2022-08-25 11:59] afbjorklund opened #367 "Missing a piece of the URL, for the CRD installation"
https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/docs/deploy-1.17-and-later.md

The version 2.0.1 is outdated:

`no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1beta1"`

When changing to 6.0.1, the url is wrong:

`server reported 404 Not Found, status code=404`

----

There seems to be an extra "client" directory added, so better update the examp

[2022-08-29 04:01] Kartik494 commented on #328
/remove-lifecycle stale

[2022-09-01 13:49] Ryan-Barlow-Nimbox commented on #367
Hello,

I am getting the exact same issue/error on this did you find a way around it?

Many Thanks
Ryan

[2022-09-01 15:23] afbjorklund commented on #367
The modified commands are listed above

[2022-09-02 05:47] pohly commented on #367
Can you perhaps create a PR?

[2022-09-12 03:59] amolmote opened #369 "Need to locate the correct path of `csi-hostpath-plugin.yaml`"
## This is a Bug Report
## Issue of Broken Link
The issue I have observed is that when we visit [ this-page]( https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/docs/deploy-1.17-and-later.md) and go to the `Confirm Hostpath driver works` this section and click on  [here](https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/deploy/kubernetes-1.17/hostpath/csi-hostpath-

[2022-09-16 09:29] #369 closed

[2022-09-16 09:56] amolmote opened #371 "Broken link of `contributor cheatsheet` Need to fix"
*This is the bug report*
This page  [CONTRIBUTING.md](https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/CONTRIBUTING.md) have one broken link of `Contributor Cheat Sheet` which needs to fix

/kind bug
/assign

[2022-09-18 20:05] #345 closed

[2022-11-10 08:58] jsafrane opened #376 "SELinuxMountReadWriteOncePod tests are failing in CI"
All tests that have `[Feature:SELinuxMountReadWriteOncePod]` are currently running, but the OS used in CI does not have SELinux configured and the tests fail.

Example job run: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-csi-alpha-canary-test-on-kubernetes-master/1590536178807869440
Testgrid: https://testgrid.k8s.io/sig-storage-csi-ci#alpha-canary-test-on-master

[2022-11-10 08:59] jsafrane commented on #376
/assign

[2022-11-10 09:25] jsafrane commented on #376
/priority critical/urgent

[2022-11-10 09:26] jsafrane commented on #376
/priority critical-urgent

[2022-11-10 14:10] #376 closed

[2022-11-14 06:34] Kartik494 commented on #367
that's because in external-snapshotter 3.0 onwards CRD's are moved to under `/client` directory , please find the link
https://github.com/kubernetes-csi/external-snapshotter/tree/master/client/config/crd
Feel free to raise a PR for the same.

[2022-11-24 01:40] chrishenzie opened #380 "Implement support for SINGLE_NODE_SINGLE_WRITER enforcement in NodePublishVolume"
See the second table in this section for more details:
https://github.com/container-storage-interface/spec/blob/v1.7.0/spec.md#nodepublishvolume

This is a requirement for beta graduation of the `ReadWriteOncePod` feature:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2485-read-write-once-pod-pv-access-mode#beta

[2022-11-28 05:24] Kartik494 commented on #328
/remove-lifecycle stale